/* WIDE_EXX FIELDSETS */

.wide_ex .selector {
    width: 880px;
}
.wide_ex .selector-available, .wide_ex .selector-chosen {
    width: 420px;
}
.wide_ex .selector select {
    width: 420px;
}
.wide_ex .selector .selector-available input {
    width: 380px;
}