{% load i18n %}
<div class="row form-group {% if field.errors %}error{% endif %}">
  <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
  <div class="col-sm-9">
    {% if field.value %}
      <div class="input-group">
        {{ field }}
        <a href="{% url 'accounts:user_list' %}?q={{ field.value }}" class="btn btn-secondary" type="button"><i class="bi bi-search"></i></a>
      </div>
    {% else %}
      {{ field }}{% if field.help_text or field.errors %}
        <div class="form-text">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</div>{% endif %}
    {% endif %}
    {% if field.help_text or field.errors %}
      <span class="form-text">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</span>{% endif %}
  </div>
</div>
