{% extends "centered_form.html" %}
{% load i18n thumbnail %}

{% block title %}{{ brand }} | {% translate 'Activate user' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'registration:user_registration_list' %}">{% translate 'User Registration List' %}</a></li>
    <li><a href="{% url 'registration:update_user_registration' form.instance.pk %}">{{ form.instance }}</a></li>
    <li class="active">{{ action_breadcrumb }}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form role="form" class="form-horizontal" method="post">
    {% with fullname=form.instance.user.get_full_name picture=form.instance.user.picture %}
      <h3>{% blocktranslate %}Email Message to {{ fullname }}{% endblocktranslate %}
        {% if picture %}{% thumbnail picture "120x120" crop="center" as im %}
          <img src="{{ im.url }}" width="{% widthratio im.width 100 50 %}" height="{% widthratio im.height 100 50 %}">
        {% endthumbnail %}{% endif %}
      </h3>
    {% endwith %}
    {% include 'include/_form_boilerplate.html' %}

    {% include 'include/_form_snippet.html' %}
    <div class="form-group">
      <div class="g10f-form-submit">
        <button class="btn btn-primary">{{ action_txt }}</button>
        {% translate 'or' %}
        <a class="btn btn-secondary" href="{% url 'registration:update_user_registration' form.instance.pk %}">{% translate 'Cancel' %}</a>
      </div>
    </div>
  </form>
{% endblock %}
