{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}{% translate 'Register for an account' %}{% endblock %}

{% block form %}
  <form class="form-horizontal" method="post">{% csrf_token %}
    <h1>{% blocktranslate %}Sign up for {{ site_name }}{% endblocktranslate %}</h1>
    {% block registration-message %}
    {% endblock %}

    {% if "_edit_again" in form.non_field_errors %}
      <div class="alert alert-info">
        {% translate "You can edit your data here again." %}
      </div>
    {% elif form.errors %}
      <div class="alert alert-danger">
        {% if form.errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
      </div>
    {% endif %}

    {% include 'include/_field.html' with field=form.first_name %}
    {% include 'include/_field.html' with field=form.last_name %}
    {% include 'include/_field.html' with field=form.email %}
    {% include 'include/_field.html' with field=form.picture %}
    {% include 'include/_field.html' with field=form.organisation %}
    {% include 'include/_field.html' with field=form.country %}
    {% include 'include/_field.html' with field=form.city %}
    {% include 'include/_field.html' with field=form.language %}
    {% include 'include/_field.html' with field=form.timezone %}
    {% include 'include/_field.html' with field=form.gender %}
    {% include 'include/_field.html' with field=form.dob %}

    {% block user-extra-form-fields %}{% endblock %}

    {% include 'include/_field.html' with field=form.about_me %}
    <div class="form-text">{% translate 'Please name a person who already has an account and can recommend you.' %}</div>
    {% include 'include/_field.html' with field=form.known_person1_first_name %}
    {% include 'include/_field.html' with field=form.known_person1_last_name %}
    <div class="form-text">{% translate 'Please name a second person who already has an account and can recommend you.' %}</div>
    {% include 'include/_field.html' with field=form.known_person2_first_name %}
    {% include 'include/_field.html' with field=form.known_person2_last_name %}
    {% include 'include/_field.html' with field=form.captcha %}
    {# used to cache the captcha, that the user needs to solve only 1 captcha #}
    {% include 'include/_field.html' with field=form.state %}
    <input type="hidden" name="{{ stage_field }}" value="1" />

    <div class="form-group">
      <div class="offset-sm-3 g10f-form-control">
        <button type="submit" class="btn btn-primary">{% translate 'Register' %}</button>
      </div>
    </div>

  </form>
{% endblock %}
