{% extends 'base_list.html' %}
{% load i18n list tz thumbnail %}

{% block title %}{% translate 'User Registration List' %}{% endblock %}

{% block nav_registration_user_list_class %}active{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'User Registration List' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      {% block messages %}
        {% include 'include/_messages.html' %}
      {% endblock messages %}
    </div>
  </div>

  <div class="g10f-filter-row">
    <ul class="nav">
      <li class="nav-item">{% include 'include/_search_form.html' %}</li>
      {% for filter in filters %}{% if filter %}
        <li class="nav-item">{% include filter.template_name with filter=filter %}</li>
      {% endif %}{% endfor %}
    </ul>
  </div>

  <main>
    <section class="table-responsive">
      <table class="table table-bordered table-striped">
        {% include "include/table_header.html" %}
        <tbody>
        {% for registration in object_list %}
          <tr>
            <td>
              <a class="" href="{% url 'registration:update_user_registration' registration.pk %}{{ cl.get_query_string }}">{{ registration.user }}</a>
            </td>
            <td>
              {% if registration.user.picture %}
                <a href="{{ registration.user.picture.url }}">{% thumbnail registration.user.picture "60x60" crop="center" as im %}
                  <img class="rounded g10f-icon-user" src="{{ im.url }}" width="{% widthratio im.width 100 50 %}" height="{% widthratio im.height 100 50 %}" alt="">{% endthumbnail %}</a>{% endif %}
            </td>
            <td>{{ registration.user.primary_email }}</td>
            <td>{{ registration.user.organisations.all|join:", " }}</td>
            <td>{{ registration.date_registered|utc|date:"Y-m-d H:i" }}</td>
            <td>{% if registration.check_back %}<i class="bi bi-check2"></i>{% endif %}</td>
            <td>{% if registration.is_access_denied %}<i class="bi bi-check2"></i>{% endif %}</td>
            <td>{% if registration.user.is_stored_permanently %}<i class="bi bi-check2"></i>{% endif %}</td>
            <td>{% include 'include/_comment_field.html' with comment=registration.comment %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% block pagination %}{% if is_paginated %}{% pagination page_obj cl %}{% endif %}{% endblock %}
    </section>
  </main>
{% endblock %}
