{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Token Generator Setup' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'auth:profile' %}">{% translate 'Security' %}</a></li>
    <li class="active">{% translate 'Token Generator Setup' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block left_content %}{% include 'include/_navigation.html' with active_navigation="auth_profile" %}{% endblock left_content %}

{% block form %}
  <h1>{% translate 'Token Generator Setup' %}</h1>

  <form class="form-horizontal" method="post">
    <ol>
      <li>{% translate 'Install an authenticator applications on your mobile, e.g.' %}
        <ul>
          <li>Free OTP</li>
          <li>Mirosoft Authenticator</li>
          <li>Google Authenticator</li>
        </ul>
      </li>
      <li>{% blocktranslate trimmed with qr_code=form.qr_code %}Open the application and scan the barcode. <br><img src="{{ qr_code }}" alt="QR Code"/>{% endblocktranslate %}</li>
      <li>{% translate 'Enter the one-time code provided by the application and click Save to finish the setup.' %}</li>
    </ol>

    {% include 'include/_form_boilerplate.html' %}
    {% include 'include/_field.html' with field=form.token %}
    {% include 'include/_field.html' with field=form.name %}

    <div class="form-group">
      <div class="g10f-form-submit">
        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
      </div>
    </div>

  </form>

{% endblock form %}
