{% extends "base.html" %}
{% load i18n static %}

{% block script %}
  {{ block.super }}
  <script src="{% url 'jsi18n' %}"></script>
  <script src="{% static 'js/cbor.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'js/fido2.js' %}"></script>
{% endblock script %}

{% block title %}{% translate 'Add FIDO2 or U2F Device' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'auth:mfa-detail' %}">{% translate 'Security' %}</a></li>
    <li class="active">{% translate 'FIDO2 or U2F Device Setup' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block right_content %}

  <form method="post" id="u2f_register_form">
    <h1>{% translate 'Register FIDO2 or U2F device' %}</h1>

    <div class="alert alert-info text-center u2f-login-text hidden" role="alert">{{ device_cls.login_text }}</div>
    <div class="alert alert-danger browser-not-supported hidden" role="alert">
      {% translate 'Your current browser is not yet supported.' %}
    </div>

    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

    {% include 'include/_form_boilerplate.html' %}
    <div class="" id="u2f-status"></div>
    {% include 'include/_field.html' with field=form.name %}

    <div class="form-group">
      <div class="g10f-form-submit">
        <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
        <a class="btn btn-secondary" href="{{ cancel_url }}">{% translate 'Cancel' %}</a>
      </div>
    </div>
  </form>

{% endblock right_content %}
