{% extends "sso_auth/verify_base.html" %}
{% load i18n static %}

{% block script %}
  <script src="{% static 'js/vendor/' %}u2f-api-{{ dpdc.u2f_api }}.js"></script>
  <script src="{% static 'js/' %}u2f-{{ dpdc.u2f }}.js"></script>
  {% comment %}
  {% if display != 'popup' %}
    <script src="{% static 'js/vendor/' %}{{ dpdc.bootstrap }}/bootstrap.bundle.min.js"></script>
  {% endif %}
  {% endcomment %}
{% endblock %}

{% block verify-token-form %}
  <form class="d-grid" method="post" id="u2f_sign_form">
    <button class="hidden" type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
    {% include 'include/_form_boilerplate.html' %}
    <div class="alert alert-primary text-center" id="u2f-login-text" role="alert">{{ device.login_text }}</div>
    <div class="alert alert-danger browser-not-supported text-center">{% translate 'Your current browser is not yet supported.' %}</div>
    <div id="u2f-status"></div>
  </form>
{% endblock %}
