{% load  i18n thumbnail static %}
<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img class="brand-logo" src="{% static 'img/dwbn/logo_m.png' %}" alt="firewheel"> {{ brand }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Applications' %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for app in user.get_global_navigation_urls %}
                                <li class="{% if app.uuid == sso_app_uuid %}active{% endif %}"><a href="{{ app.url }}">{{ app.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="{% if active_navigation == "organisations" %}active{% endif %}"><a href="{% url 'organisations:organisation_list' %}">{% trans 'Organisations' %}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="{% if active_navigation == "profile" %}active{% endif %}"><a href="{% url 'accounts:profile' %}">{% if user.picture %}{% thumbnail user.picture "30x30" crop="center" as im %}
                        <img class="dwbn-icon-user" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">{% endthumbnail %}{% else %}
                        <i class="glyphicon glyphicon-user"></i>{% endif %} {{ user.first_name }}</a></li>
                    <li><a href="{% url 'accounts:logout' %}"><i class="glyphicon glyphicon-log-out"></i> {% trans 'Log out' %}</a></li>
                {% else %}
                    <li><a href="{% url 'auth:login' %}"><i class="glyphicon glyphicon-log-in"></i> {% trans 'Log in' %}</a></li>
                {% endif %}
            </ul>
            <!-- /.navbar-right -->
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<noscript>
    <div class="alert alert-warning">
        {% blocktrans with "http://enable-javascript.com/" as url %}Please activate JavaScript to enable all features.
            <a href="{{ url }}" target="_blank">Read this page for more help</a>{% endblocktrans %}
    </div>
</noscript>
