wheel
django
django-formtools
django-ipware
django-reversion
gunicorn
psycopg2
python-memcached
docutils
pyjwt
cryptography
oauthlib
sorl-thumbnail
pillow
django-recaptcha
pytz
geopy
qrcode
requests
celery<5
python-u2flib-server
