django
django-formtools
gunicorn
psycopg2
python-memcached
docutils
pyjwt
cryptography
oauthlib
sorl-thumbnail
pillow
django-nocaptcha-recaptcha
pytz
geopy
qrcode
requests
# for python-u2flib-server
M2Crypto
python-u2flib-server
# for local testing only
#selenium
#uritemplate