django
django-formtools
django-ipware
django-reversion
gunicorn
psycopg2-binary
python-memcached
docutils
pyjwt
cryptography
oauthlib
sorl-thumbnail
pillow
django-recaptcha
pytz
geopy
qrcode
requests
celery
python-u2flib-server
