//
// Variables
// --------------------------------------------------

@dwbn-red: #b83b40;
@dwbn-fw-red: #be0f34;
@dwbn-yellow: #ffd451;

//== Colors
//

@brand-primary:         @dwbn-red;      //#428bca;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  Verdana, Helvetica, sans-serif; //"Helvetica Neue", Helvetica, Arial, sans-serif;
//@font-family-sans-serif:  "Myriad Pro Regular", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

@font-size-base:          13px; //14px;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.


@btn-default-color:              #333; //#fff; //#333;
@btn-default-bg:                 #fff; //@gray-light; //#fff;
@btn-default-border:             #ccc; //@btn-default-bg; //#ccc;

@btn-primary-bg:                 @gray;                 //@brand-primary;


//== Navbar
//
//@navbar-height:		45px;
@navbar-default-bg: #fff;
//@navbar-default-brand-hover-bg: @gray-lighter;
// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-lighter;                      //@gray-light;
@navbar-inverse-bg:                         darken(@dwbn-red, 6.5%);            //#222;

// Inverted navbar links
@navbar-inverse-link-color:                 @gray-lighter;                      //@gray-light;
@navbar-inverse-link-hover-bg:              darken(@navbar-inverse-bg, 8%); //transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            lighten(@dwbn-red, 3%);              //#333;
@navbar-inverse-toggle-border-color:        lighten(@dwbn-red, 3%);              //#333;


//== List group
//

//** Background color of active list elements
@list-group-active-bg:          @gray;              //@component-active-bg;
