html {
    overflow-y: scroll;
}
body {
    padding-top: 70px;
}
main {
    .make-row();
}
main aside {
    .make-sm-column(4);
    .make-md-column(3);
}
main section {
    .make-sm-column(8);
    .make-md-column(9);
}
.dwbn-label {
    .make-sm-column(3);
}
.dwbn-content {
    .make-sm-column(9);
}
div.form-group {
    > label {
        .make-sm-column(3);
    }
    > .dwbn-form-control {
        .make-sm-column(9);
    }
    > .dwbn-form-control_lg {
        .make-sm-column(12);
    }
    > .dwbn-form-submit {
        .make-sm-column-offset(3);
        .make-sm-column(9);
    }
}
// bootstrap indent the labels to position radios/checkboxes as hanging controls.
// we have the label as seperate element and not the checkbox inside a label
.dwbn-form-control .checkbox input[type="checkbox"] {
  margin-left: 0px;
}

noscript div {
    margin-top: -20px;
}
// hidden honey pot field in the registration form
.dwbn-honeypot {
    .hide();
}
// filter row in the list view
.dwbn-filter-row {
    margin-bottom: 15px;
}
.dwbn-nav-tabs {
    margin-bottom: 20px;
}
// thumbnail in the global navigation bar
.dwbn-icon-user {
    margin-top: -10px;
    margin-bottom: -10px;
}
.dwbn-centered {
    .make-md-column-offset(1);
    .make-md-column(10);
    .make-lg-column-offset(2);
    .make-lg-column(8);
}
