<!DOCTYPE html>{% load static i18n googleanalytics thumbnail %}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static favicon  %}" type="image/ico"/>
    {% block style %}{% with less=False %}{% if debug and less %}
    <link rel="stylesheet/less" href="{% static stylesheet_less %}">
    <script src="{% static "js/vendor/less-1.7.0.min.js" %}"></script>
    <script>less.modifyVars({'@icon-font-path': '"/static/fonts/"'});</script>{% else %}
    <link rel="stylesheet" href="{% static stylesheet %}">{% endif %}{% endwith %}
    {% endblock style %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">window.__media_prefix__ = "{% filter escapejs %}{% static "" %}{% endfilter %}";</script>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.11.0.min.js" %}"><\/script>')</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/vendor/html5shiv-3.7.0.js" %}"></script>
      <script src="{% static "js/vendor/respond-1.4.2.min.js" %}"></script>
    <![endif]-->        
</head>
<body class="{% block bodyclass %}{% endblock %}">
    {% block body %}
    <!--[if lt IE 8]><p class=alert alert-warning>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    
    {% block navbar %}
    {% include "include/global_navigation.html" %}
    {% endblock navbar %}
    
    <div class="{% block containerclass %}container{% endblock %}">      
	    {% block breadcrumb %}{% endblock %}
        
        {% block content %}
        <main role="main">
		    <aside>
		        {% block left_content %}
				<nav class="list-group">              
				    {% if user.is_staff %}
				    <a class="list-group-item" href="{% url 'admin:index' %}"><i class="glyphicon glyphicon-wrench"></i> {% trans 'administration' %}</a>
				    {% endif %}
				    
                    {% if perms.registration.change_registrationprofile %}
                    <a class="list-group-item {% block nav_registration_user_list_class %}{% endblock %}" href="{% url 'registration:user_registration_list' %}"><i class="glyphicon glyphicon-list"></i> {% trans 'User Registration List' %}</a>
                    {% endif %}
                       
				    {% if user.can_add_users %}
                    <a class="list-group-item {% block nav_accounts_user_list_class %}{% endblock %}" href="{% url 'accounts:user_list' %}"><i class="glyphicon glyphicon-list"></i> {% trans 'User List' %}</a>
				    <a class="list-group-item {% block nav_accounts_add_user_class %}{% endblock %}" href="{% url 'accounts:add_user' %}"><i class="glyphicon glyphicon-plus-sign"></i> {% trans 'Add User' %}</a>
				    {% endif %}
				    
				    {% if user.is_authenticated %}				    
				    <a class="list-group-item {% block nav_accounts_profile_class %}{% endblock %}" href="{% url 'accounts:profile' %}"><i class="glyphicon glyphicon-user"></i> {% trans 'My account' %}</a>
				    <a class="list-group-item {% block nav_accounts_password_change_class %}{% endblock %}" href="{% url 'accounts:password_change' %}"><i class="glyphicon glyphicon-edit"></i> {% trans 'Change my password ' %}</a>
				    {% endif %}
				</nav>
				{% endblock left_content %}
		    </aside>
		    <section>
		        {% block right_content %}<h2>{% trans 'Home' %}</h2>{% endblock %}
		    </section>
	    </main>
        {% endblock content %}      

      <hr>
      {% block footer %}
      <footer>
        <ul>
            <li><a href="{% url 'about' %}">{% trans 'About us' %}</a></li>
            <li class="text-muted">·</li>
            <li><a href="{% url 'accounts:contact' %}">{% trans 'Feedback' %}</a></li>
        </ul>
      </footer>
      {% endblock footer %}
      
    </div> <!-- /container -->    
    {% endblock body %}  
    <script src="{% static "js/vendor/bootstrap-3.1.1.min.js" %}"></script>
{% show_tracker %}
</body>
</html>
