{% extends "base_site.html" %}
{% load i18n %}
{% block nav_home_class %}active{% endblock %}

{% block breadcrumb %}
  {% if user.is_authenticated %}
    <ol class="breadcrumb">
      <li class="active">{% translate 'Home' %}</li>
    </ol>
  {% endif %}
{% endblock breadcrumb %}

{% block content %}
  <main>
    {% if user.is_authenticated %}
      <aside>
        {% block left_content %}{{ block.super }}{% endblock left_content %}
      </aside>
      <section>
        {% if messages %}{% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% translate 'Welcome,' %}
        <strong>{% filter force_escape %}{% firstof user.get_full_name user.username %}{% endfilter %}</strong>.
        {% if apps %}
          <h1>{% translate 'My applications' %}</h1>
          <ul>
            {% for app in user.get_apps %}
              {% if app.url and not app.is_internal %}
                <li><a href="{{ app.url }}">{{ app.title }}</a></li>{% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </section>
    {% else %}
      <section class="py-5 text-center">
        <div class="mx-auto mb-3" style="max-width: 550px;">
          <h1>{% blocktranslate %}One account. All of {{ site_name }}.{% endblocktranslate %}</h1>
        </div>

        <div class="sign-in-form">
          {% url 'registration:registration_register' as registration_register_url %}
          <a class="btn btn-lg btn-brand" href="{{ login_url }}">{% translate 'Log in' %}</a>
          {% if registration_register_url and registration_open %}
            {% blocktranslate %}New at {{ site_name }}?{% endblocktranslate %}
            <a class="btn btn-lg btn-default" href="{{ registration_register_url }}">{% translate 'Register' %}</a>
          {% endif %}
        </div>
      </section>
    {% endif %}
  </main>
{% endblock content %}
