{% load i18n %}
{% if field %}
  <div id="base64-image" class="form-group form-group-file {% if field.errors %}has-error{% endif %}"
       data-max-size="250px" data-max-file-size="{{ max_file_size }}">
    <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
    <div class="g10f-form-control">
      <div class="form-text">{% if field.help_text or field.errors %}{{ field.help_text }}
        {% for error in field.errors %}{{ error }} {% endfor %}{% endif %}</div>
      <div>
        <img class="rounded img-thumbnail" style="width: 240px; height: 240px;"/>
      </div>
      <div class="btn-file input-group">
        <input type="file" class="form-control" name="_dummy">
        <input type="hidden" name="{{ field.name }}" id="{{ field.auto_id }}"{% if field.value != None %}
               value="{{ field.value|stringformat:'s' }}"{% endif %} />
        <a href="#" class="btn btn-secondary btn-remove hidden">{% translate 'Remove' %}</a>
      </div>
    </div>
  </div>
{% endif %}
