{% load i18n %}
{% if field %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
    <div class="g10f-form-control input-group">
      {{ field }}
      <button class="btn btn-outline-primary client-secret-delete" type="button" data-bs-toggle="tooltip" title="{% translate 'Delete secret' %}"><i class="bi bi-trash"></i></button>
      <button class="btn btn-outline-primary client-secret-renew" data-url="{% url 'accounts:client_secret' %}" type="button" data-bs-toggle="tooltip" title="{% translate 'New secret' %}"><i class="bi bi-arrow-repeat"></i></button>
      {% if field.help_text or field.errors %}
        <div class="form-text">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</div>{% endif %}
    </div>
  </div>
{% endif %}
