{% load i18n %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
  <label class="col-form-label" for="{{ field.id_for_label }}">
    {{ field.label }}{% if field.field.required %}*{% endif %}</label>
  <div class="g10f-form-control">
    {% if field.value %}
      <div class="input-group">
        {{ field }}
        <a href="mailto:{{ field.value }}" target="_blank" class="btn btn-primary" role="button">
          <i class="bi bi-envelope" title="{% trans 'Send email' %}"></i>
        </a>
      </div>
    {% else %}{{ field }}{% endif %}
    {% if field.help_text or field.errors %}
      <div class="form-text">{{ field.help_text }} {% for error in field.errors %}
        {{ error }} {% endfor %}</div>{% endif %}
  </div>
</div>
