{% load i18n %}

{% csrf_token %}

{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

{% include 'include/_messages.html' %}

{% if errors %}
  <div class="alert alert-danger">
    {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}
      {% translate "Please correct the errors below." %}{% endif %}
  </div>
{% else %}
  {% if form.errors and not form.non_field_errors %}
    <div class="alert alert-danger">
      {% if form.errors|length == 1 %}
        {% translate "Please correct the error below." %}
      {% else %}
        {% translate "Please correct the errors below." %}
      {% endif %}
    </div>
  {% endif %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}

{% endif %}
