{% load i18n list %}
{% if filter.list and filter.list|length > 0 %}
  <select class="select2" name="filter.param_name" style="{{ filter.style }}">
    <option value="-" {% selected filter.param_name '' %}
            data-url="{% query_string cl filter.param_name '' filter.all_remove %}">{{ filter.select_all_text }}</option>
    {% for item in filter.list %}
      <option {% selected filter.param_name item.pk filter.default %} value="{{ item.pk }}"
                                                                      data-url="{% query_string cl filter.param_name item.pk filter.remove %}">{{ item }}</option>
    {% endfor %}
  </select>
{% endif %}
