<div id="base64-image" class="form-group {{ extra_class }}" data-max-size="250px" >
    <label class="control-label">{{ field.label }}</label>
    <div class="dwbn-form-control">
        <p class="form-control-static">
            <img class="img-thumbnail" style="width: 240px; height: 240px;"/>
        </p>
    </div>
</div>
<script>
    $(function () {
        var max_size = $('#base64-image').data("max-size");
        // initialize the img field from base64 data if available
        if ($('[name="base64_picture"]').val()) {
            var style = 'max-height: ' + max_size + '; max-width: ' + max_size + ';'
            $('#base64-image img').replaceWith('<img src="' + $('[name="base64_picture"]').val() + '" alt="Image preview" class="img-thumbnail" style="' + style + '">');
        }
    });
</script>