//
// Variables
// --------------------------------------------------

@dwbn-red: #b83b40;
@dwbn-fw-red: #be0f34;
@dwbn-yellow: #ffd451;


//== Colors
//
@brand-primary:         @dwbn-red;      //#428bca;
//@text-color: 	        #595959;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

//@font-family-sans-serif:  "Myriad Pro Regular", Helvetica, Arial, sans-serif;
@font-family-sans-serif:  Verdana, Helvetica, sans-serif; //"Helvetica Neue", Helvetica, Arial, sans-serif;

@headings-font-weight:   300;
@font-size-base:          13px; //14px;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-default-color:              #333; //#fff; //#333;
@btn-default-bg:                 #fff; //@gray-light; //#fff;
@btn-default-border:             #ccc; //@btn-default-bg; //#ccc;

@btn-primary-bg:                 @gray; //@brand-primary;

//== Navbar
//

@navbar-height:		55px;

//== List group
//

//** Background color of active list elements
@list-group-active-bg:          @gray;              //@component-active-bg;

// == Custom Variables
@dwbn-logo-height:  40px;
@dwbn-logo-width:   42px;
