{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Delete email fowarding' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'emails:groupemail_list' %}">{% translate 'Emails' %}</a></li>
    <li><a href="{% url 'emails:groupemail_detail' uuid %}">{{ object.email.groupemail_set.first.name }}</a></li>
    <li class="active">{% translate 'Delete email forwarding' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block form %}

  {% block message %}
    <div class="alert alert-danger">
      {% translate "Please confirm deleting this email fowarding" %}
    </div>
  {% endblock %}

  <div class="row">
    <div class="col-4">{% translate 'Email forwarding address' %}:</div>
    <div class="col-8">{{ object }}</div>
  </div>
  <br>

  {% block submit_group %}
    <form class="form-horizontal" method="post">{% csrf_token %}
      <button type="submit" class="btn btn-danger">{% translate 'Confirm Delete email fowarding' %}</button>
      <a class="btn btn-primary" href="{% url 'emails:groupemail_detail' uuid %}">{% translate 'Cancel' %}</a>
    </form>
  {% endblock %}

{% endblock %}
