{% extends "base_form.html" %}
{% load i18n static %}
{% load thumbnail %}

{% block title %}{% trans 'Email Update' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'emails:groupemail_list' %}">{% trans 'Emails' %}</a></li>
    <li><a href="{% url 'emails:groupemail_detail' object.uuid.hex %}">{{ object.name }}</a></li>
    <li class="active">{% trans 'Update Email' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post" data-active="{{ active }}">
    <h1>{{ object.name }} {% trans 'Email' %}</h1>
    {% include 'include/_form_boilerplate.html' %}
    {% translate 'Email Data' as base_title %}
    {% include 'bootstrap/forms/nav-tabs.html' %}

    <div class="tab-content">
      <div class="tab-pane" role="tabpanel" id="base">
        {% include 'include/_field.html' with field=form.name %}
        {% include 'include/_field.html' with field=form.email_value %}
        {% include 'include/_field.html' with field=form.permission %}
        {% include 'include/_field.html' with field=form.homepage %}
        {% include 'include/_field.html' with field=form.is_active %}
      </div>

      {% for formset in formsets %}
        <div class="tab-pane" role="tabpanel" id="{{ formset.prefix }}">{% include formset.form.template %}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      <div class="g10f-form-submit">
        {% block submit_group %}
          <button type="submit" class="btn btn-secondary" name="_continue">{% trans 'Save and continue editing' %}</button>
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        {% endblock submit_group %}
      </div>
    </div>
  </form>
{% endblock %}
