{% extends 'base_list.html' %}
{% load i18n list tz static %}

{% block title %}{% trans 'Emails' %}{% endblock %}

{% block nav_organisations_region_list_class %}active{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Emails' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block content %}
  <div class="row">
    <div class="col-sm-12">
      {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="g10f-filter-row">
    <ul class="nav">
      <li class="nav-item">
        {% include 'include/_search_form.html' %}
      </li>
      {% for filter in filters %}{% if filter %}
        <li class="nav-item">{% include filter.template_name with filter=filter %}</li>
      {% endif %}{% endfor %}
    </ul>
  </div>

  <main>
    <section>
      <table class="table table-bordered table-striped">
        {% include "include/table_header.html" %}
        <tbody>
        {% for object in object_list %}
          <tr>
            <td><a href="{% url 'emails:groupemail_detail' object.uuid.hex %}">{{ object.name }}</a></td>
            <td>{{ object.email|default_if_none:"" }}</td>
            <td>{% if object.homepage %}<a href="{{ object.homepage }}">{{ object.homepage }}</a>{% endif %}</td>
            <td>{{ object.email.get_permission_display }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}{% pagination page_obj cl %}{% endif %}
    </section>
  </main>
{% endblock content %}
