{% extends "base_form.html" %}
{% load i18n admin_static %}

{% block nav_accounts_add_user_class %}active{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'accounts:user_list' %}">{% trans 'User List' %}</a></li>
    <li class="active">{% trans 'Add User' %}</li>
</ul> 
{% endblock breadcrumb %}

{% block form %}
<form class="form-horizontal" method="post">{% csrf_token %} 
    {# Include the hidden fields in the form #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}    
    <div class="">
	    <legend>{% trans 'Add User' %}</legend>
	    <p>
	    {% trans "Please enter the user data for the new account." %}<br>
	    {% trans "After the account was created, the new user will receive an email with instructions for setting a password." %}
	    </p>
	    
	    {% block messages %}
	      {% if messages %}
		      {% for message in messages %}
		      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
		        {{ message }}
		      </div>
		      {% endfor %}
	      {% endif %}
	    {% endblock messages %}
	
	    {% if form.errors %}
	        <div class="alert alert-danger">
	        {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
	        </div>
	    {% endif %}
    </div>    

	<ul class="nav nav-tabs">
	  <li class="active"><a href="#user" data-toggle="tab">{% trans 'User data' %}</a></li>
	  <li><a href="#app_roles" data-toggle="tab">{{ form.application_roles.label }}</a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane active" id="user">
	       <div>
             {% include 'include/_field.html' with field=form.first_name %}
             {% include 'include/_field.html' with field=form.last_name %}
             {% include 'include/_field.html' with field=form.organisation %}
             {% include 'include/_email_field.html' with field=form.email %}
          </div>
      </div> 
	  <div class="tab-pane" id="app_roles">
	       <div>
             {% with field=form.application_roles %}
             <div class="row form-group {% if field.errors %}has-error{% endif %}">
                <div class="col-sm-12">
                 {{ field }}{% if field.help_text or field.errors %}<span class="help-block">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</span>{% endif %}
                </div>
             </div>
             {% endwith %}
          </div>
	</div>
   </div>
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9"><button type="submit" class="btn btn-primary">{% trans 'Save' %}</button></div>
    </div>

</form>
{% endblock %}


