{% extends "base_form.html" %}
{% load i18n admin_static %}

{% block title %}{% trans 'Add User' %}{% endblock %}

{% block left_content %}{% include navigation_template with active_navigation="add_user" %}{% endblock left_content %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'accounts:user_list' %}">{% trans 'User List' %}</a></li>
    <li class="active">{% trans 'Add User' %}</li>
</ol> 
{% endblock breadcrumb %}


{% block form %}
<h1>{% trans 'User added successfully' %}</h1>
<div class="alert alert-success">
    <strong>{% trans 'A new User was created.' %}</strong><br>			
         {% trans 'The new user got an email with instructions for setting a password.' %}<br>
</div>

<table class="table">
 <tbody>
     <tr>
         <th>{% trans 'Name' %}: </th><td>{{ new_user.username }}</td>
     </tr>
	     <tr>
	         <th>{% trans 'First name' %}: </th><td>{{ new_user.first_name }}</td>
	     </tr>
	     <tr>
	         <th>{% trans 'Last name' %}: </th><td>{{ new_user.last_name }}</td>
	     </tr>
	     <tr>
	         <th>{% trans 'Email' %}: </th><td>{{ new_user.primary_email }}</td>
	     </tr>
	     <tr>
	         <th>{% trans 'Organisations' %}: </th><td>{% for organisation in new_user.organisations.all %}{{ organisation }}{%if not forloop.last %}, {% endif %}{% endfor %}</td>
	     </tr>
         {% for role_profile in new_user.role_profiles.all %}
         <tr>
             <th>{%if forloop.first %}{% trans 'Role profiles' %}: {% endif %}</th>
             <td>{{ role_profile }}</td>
         </tr>
         {% endfor %}
	     {% for application_role in new_user.application_roles.all %}
	     <tr>
	         <th>{%if forloop.first %}{% trans 'Application roles' %}: {% endif %}</th>
	         <td>{{ application_role }}</td>
	     </tr>
	     {% endfor %}
         <tr>
             <th>{% trans 'Notes' %}: </th><td>{{ new_user.notes }}</td>
         </tr>
 </tbody>
</table>
<a class="btn btn-default" href="{% url 'accounts:update_user' new_user.uuid %}">{% trans 'Edit user' %}</a>
<a class="btn btn-primary" href="{% url 'accounts:add_user' %}">{% trans 'Add another user' %}</a>
{% endblock %}

