{% extends "base_form.html" %}
{% load i18n static %}
{% load thumbnail %}

{% block title %}{% trans 'Change User' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'accounts:app_admin_user_list' %}">{% trans 'User Roles' %}</a></li>
    <li class="active">{% trans 'Change User' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post">
    <h1>{{ title }} - {{ form.user.first_name }} {{ form.user.last_name }}</h1>
    {% include 'include/_form_boilerplate.html' %}

    <div class="form-group">
      <label class="col-form-label">{% trans 'picture' %}</label>

      <div class="g10f-form-control">
        {% thumbnail form.user.picture "240x240" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}
      </div>
    </div>

    {% include 'include/_field.html' with field=form.username %}
    {% include 'include/_field.html' with field=form.first_name %}
    {% include 'include/_field.html' with field=form.last_name %}
    {% include 'include/_field.html' with field=form.email %}
    {% include 'include/_field.html' with field=form.organisations %}
    {% include 'include/_field.html' with field=form.is_active %}
    {% include 'include/_select_filter2_field.html' with field=form.role_profiles %}
    {% include 'include/_select_filter2_field.html' with field=form.application_roles %}

    <div class="form-group">
      <div class="g10f-form-control_lg">
        <button type="submit" class="btn btn-secondary" name="_continue">{% trans 'Save and continue editing' %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>
    </div>

  </form>
{% endblock %}
