{% extends "base_form.html" %}
{% load i18n static %}
{% load thumbnail %}

{% block title %}{% translate 'Change User' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'accounts:app_admin_user_list' %}">{% translate 'Roles' %}</a></li>
    <li class="active">{% translate 'Change User' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post">
    <h1>{{ title }} - {{ form.user.get_full_name }}</h1>
    {% include 'include/_form_boilerplate.html' %}

    <div class="row">
      <div class="col-lg-5 col-xl-4">
        {% thumbnail form.user.picture "240x240" crop="center" as im %}
          <img class="rounded" alt="{{ form.user.get_full_name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}
      </div>
      <div class="col-lg-7 col-xl-8">
        <div class="row"><div class="col-3">{% translate 'username' %}</div><div class="col-9">{{ form.user.username }}</div></div>
        <div class="row"><div class="col-3">{% translate 'Email' %}</div><div class="col-9">{{ form.user.primary_email }}</div></div>
        <div class="row"><div class="col-3">{% translate 'Organisation' %}</div><div class="col-9">{{ form.user.organisations.all | join:", " }}</div></div>
      </div>
    </div>
    {% include 'include/_select_filter2_field.html' with field=form.role_profiles %}
    {% include 'include/_select_filter2_field.html' with field=form.application_roles %}

    <div class="form-group">
      <div class="g10f-form-control_lg">
        <button type="submit" class="btn btn-secondary" name="_continue">{% translate 'Save and continue editing' %}</button>
        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
      </div>
    </div>

  </form>
{% endblock %}
