{% extends 'base_list.html' %}
{% load i18n %}


{% block title %}{% translate 'role profiles' %}{% endblock %}

{% block nav_accounts_user_list_class %}active{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'role profiles' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block navbar %}{% include 'include/global_navigation.html' with active_navigation="users" %}{% endblock navbar %}

{% block right_content %}
  <div class="row">
    <div class="col-sm-12">
      {% include 'include/_messages.html' %}
    </div>
  </div>

  <h1>{% translate 'role profiles' %}</h1>
  {% for obj in object_list %}
    <h2>{{ obj.name }}</h2>
    <ul>
      {% for application_role in obj.application_roles.all %}
        <li>{{ application_role }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock right_content %}
