{% extends "base_form.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% translate 'Change User' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'accounts:user_list' %}">{% translate 'User List' %}</a></li>
    <li class="active">{% translate 'Change User' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post">
    <h1>{{ title }} - {{ form.user.first_name }} {{ form.user.last_name }}</h1>
    {% include 'include/_form_boilerplate.html' %}

    {% if not form.user.is_active %}
      <div class="alert alert-danger">{{ form.status.label }} {% translate 'is' %} {{ form.status.value }}</div>{% endif %}

    {% translate 'User data' as base_title %}
    {% include 'bootstrap/forms/nav-tabs.html' with tab1=form.notes tab2=form.application_roles %}

    <div class="tab-content">
      <div class="tab-pane" role="tabpanel" id="base">
        {% if not form.user.is_active %}
          {% include 'include/_static_field.html' with field=form.status extra_class="bg-danger" %}
        {% endif %}
        {% include 'include/_field.html' with field=form.account_type %}
        {% include 'include/_field.html' with field=form.username %}
        {% include 'include/_field.html' with field=form.organisation %}
        {% include 'include/_field.html' with field=form.email %}
        {% include 'include/_select_filter2_field.html' with field=form.role_profiles %}
      </div>
      <div class="tab-pane" role="tabpanel" id="tab_application_roles">
        {% include 'include/_select_filter2_field.html' with field=form.application_roles %}
      </div>
      <div class="tab-pane" role="tabpanel" id="tab_notes">
        {% include 'include/_usernote_field.html' with field=form.notes %}
      </div>

    </div>

    <div class="form-group">
      <div class="g10f-form-control_lg">
        {% if form.user.is_active %}
          <button type="submit" class="btn btn-secondary" name="_deactivate">{% translate 'Block User' %}</button>
        {% else %}
          <button type="submit" class="btn btn-success" name="_activate">{% translate 'Activate User' %}</button>
        {% endif %}
        {% if perms.accounts.delete_user and not form.user.is_active %}
          <a class="btn btn-secondary" href="{% url 'accounts:delete_user' form.user.uuid.hex %}">{% translate 'Delete User' %}</a>
        {% endif %}
        {% if perms.accounts.add_user %}
          <button type="submit" class="btn btn-secondary" name="_addanother">{% translate 'Save and add another' %}</button>
        {% endif %}
        {% if not logged_in %}
          <button type="submit" class="btn btn-secondary" name="_resend_invitation">{% translate 'Save and resend Invitation Mail' %}</button>
        {% endif %}
        <button type="submit" class="btn btn-secondary" name="_continue">{% translate 'Save and continue editing' %}</button>
        {% if is_validation_period_active %}
          <button type="submit" class="btn btn-secondary" name="_extend_validity">{% translate 'Save and extend validity' %}</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>

        {% if perms.accounts.reset_user_2fa and form.user.sso_auth_profile.is_otp_enabled %}
          <button class="btn btn-danger" type="submit" name="disable_otp" >{% translate "Disable 2-step verification" %}</button>
        {% endif %}

      </div>
    </div>

  </form>
{% endblock %}
