{% extends "base_form.html" %}
{% load i18n static %}
{% load thumbnail %}

{% block title %}{% trans 'Change User' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'accounts:user_list' %}">{% trans 'User List' %}</a></li>
    <li class="active">{% trans 'Change User' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
<form class="form-horizontal" method="post">
  <h1>{{ title }} - {{ form.user.first_name }} {{ form.user.last_name }}</h1>
  {% include 'include/_form_boilerplate.html' %}

  {% if not form.user.is_active %}
    <div class="alert alert-danger">{{ form.status.label }} {% translate 'is' %} {{ form.status.value }}</div>{% endif %}

  {% translate 'User data' as base_title %}
  {% include 'bootstrap/forms/nav-tabs.html' with tab1=form.notes tab2=form.application_roles %}

  <div class="tab-content">
    <div class="tab-pane" role="tabpanel" id="base">
      {% block user-detail %}
        {% include 'include/_static_picture_field.html' with field=form.user.picture %}
        {% include 'include/_field.html' with field=form.username %}
        {% if is_validation_period_active %}
          {% block user-detail-valid_until %}
            {% include 'include/_static_field.html' with field=form.valid_until %}
          {% endblock %}
        {% endif %}
        {% include 'include/_field.html' with field=form.first_name %}
        {% include 'include/_field.html' with field=form.last_name %}
        {% include 'include/_field.html' with field=form.gender %}
        {% include 'include/_field.html' with field=form.dob %}
        {% include 'include/_field.html' with field=form.organisations %}
        {% if form.created_by_user.initial %}
          {% include 'include/_user_field.html' with field=form.created_by_user %}
        {% endif %}
        {% if form.last_modified_by_user.initial %}
          {% include 'include/_user_field.html' with field=form.last_modified_by_user %}
        {% endif %}

        <span class="user-extra-form-fields">
            {% block user-extra-form-fields %}{% endblock %}
          </span>

        {% include 'include/_select_filter2_field.html' with field=form.role_profiles %}

        {% if perms.registration.change_registrationprofile %}
          {% with registrationprofile=form.user.registrationprofile %}
            {% if registrationprofile %}
              <div class="form-group">
                <label class="col-form-label"></label>
                <div class="g10f-form-control">
                  <a href="{% url 'registration:update_user_registration' registrationprofile.pk %}">{% trans 'Registration' %}</a>
                </div>
              </div>
            {% endif %}
          {% endwith %}
        {% endif %}
      {% endblock user-detail %}
    </div>
    <div class="tab-pane" role="tabpanel" id="tab_application_roles">
      {% include 'include/_select_filter2_field.html' with field=form.application_roles %}
    </div>
    <div class="tab-pane" role="tabpanel" id="tab_notes">
      {% include 'include/_usernote_field.html' with field=form.notes %}
    </div>

    {% for formset in formsets %}
      <div class="tab-pane " role="tabpanel" id="{{ formset.prefix }}">
        {% include formset.form.template %}
      </div>
    {% endfor %}

    <div class="form-group">
      <div class="g10f-form-control_lg">
        {% if not form.user.is_active %}
          <button type="submit" class="btn btn-success" name="_activate">{% trans 'Activate User' %}</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        <button type="submit" class="btn btn-secondary" name="_continue">{% trans 'Save and continue editing' %}</button>

        {% if perms.accounts.add_user %}
          <button type="submit" class="btn btn-secondary" name="_addanother">{% trans 'Save and add another' %}</button>
        {% endif %}

        {% if not logged_in %}
          <button type="submit" class="btn btn-secondary" name="_resend_invitation">{% trans 'Save and resend Invitation Mail' %}</button>
        {% endif %}

        {% if is_validation_period_active %}
          {% block user-extend-validity-action %}
            <button type="submit" class="btn btn-secondary" name="_extend_validity">{% trans 'Save and extend validity' %}</button>
          {% endblock user-extend-validity-action %}
        {% endif %}

        {% if form.user.organisations.all %}
          <button type="submit" class="btn btn-danger" name="_remove_org" data-bs-toggle="tooltip" data-placement="top"
                  title="{% trans "After removing the user from your organisation, only the global admin has access to the user." %}">{% trans 'Remove from organisation' %}</button>
        {% endif %}

        {% if form.user.is_active %}
          <button type="submit" class="btn btn-danger" name="_deactivate">{% trans 'Block User' %}</button>
        {% endif %}

        {% if perms.accounts.delete_user and not form.user.is_active %}
          <a class="btn btn-danger" href="{% url 'accounts:delete_user' form.user.uuid.hex %}">{% trans 'Delete User' %}</a>
        {% endif %}

      </div>
    </div>
  </div>
</form>
{% endblock %}
