{% extends 'base_site.html' %}
{% load i18n list tz static %}

{% block title %}{% trans 'User List' %}{% endblock %}

{% block nav_accounts_user_list_class %}active{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'User List' %}</li>
</ol> 
{% endblock breadcrumb %}
    
    
{% block content %}
<div class="row">
	<div class="col-sm-12">
	    {% if messages %}{% for message in messages %}
	       <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
	    {% endif %}
	</div>
</div><!-- /.row -->

<div class="row dwbn-filter-row">
	<div class="col-sm-3">
	   {% include 'include/_search_form.html' %}
    </div>
	<div class="col-sm-9">
	    {% for filter in filters %} 
        {% include 'include/_list_filter.html' with filter=filter %}
        {% endfor %}
    </div><!-- /.col-sm-9 -->
</div>

<main>
    <div class="col-sm-12 table-responsive">
	   <table class="table table-bordered table-striped">
	       {% include "include/table_header.html" %}
	       <tbody>
	           {% for user in object_list %}
	           <tr> 
	               <td><a class="" href="{% url 'accounts:update_user' user.uuid %}{{ cl.get_query_string }}">{{ user.username }}</a></td>
	               <td>{{ user.first_name }}</td>
	               <td>{{ user.last_name }}</td>
	               <td>{{ user.email }}</td>
	               <td>{{ user.last_login|utc|date:"Y-m-d H:i" }}</td>
	               <td>{{ user.date_joined|utc|date:"Y-m-d H:i" }}</td>
	           </tr>
	           {% endfor %}
	       </tbody>
	   </table>
	   {% if is_paginated %}{% pagination page_obj cl %}{% endif %}
    </div>
</main>
{% endblock content %}
