{% extends 'base_list.html' %}
{% load i18n list tz static thumbnail accounts cache %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% translate 'User List' %}{% endblock %}

{% block nav_accounts_user_list_class %}active{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'User List' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block navbar %}{% include 'include/global_navigation.html' with active_navigation="users" %}{% endblock navbar %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="g10f-filter-row">
    {% block g10f-filter-row %}
      <ul class="nav">
        <li class="nav-item">{% include 'include/_search_form.html' %}</li>
        {% cache 300 filters filters_cache_key LANGUAGE_CODE %}
          {% for filter in filters %}{% if filter %}
            <li class="nav-item">
              {% include filter.template_name with filter=filter %}</li>
          {% endif %}{% endfor %}
        {% endcache %}
      </ul>
    {% endblock %}
  </div>

  <main>
    <section class="table-responsive">
      <table class="table table-bordered table-striped">
        {% include "include/table_header.html" %}
        <tbody>
        {% for user_obj in object_list %}
          {% block user-detail %}
            <tr>
              <td>
                {% if perms.accounts.change_user %}
                  <a class="" href="{% url 'accounts:update_user' user_obj.uuid.hex %}{{ cl.get_query_string }}">{{ user_obj.username }}</a>
                {% else %}{{ user_obj.username }}{% endif %}
              </td>
              <td>
                {% if user_obj.picture %}<a href="{{ user_obj.picture.url }}">
                  {% thumbnail user_obj.picture "60x60" crop="center" as im %}
                    <img class="rounded g10f-icon-user" src="{{ im.url }}" width="{% widthratio im.width 100 50 %}" height="{% widthratio im.height 100 50 %}" alt="">{% endthumbnail %}</a>{% endif %}
              </td>
              <td>{{ user_obj.last_name }}</td>
              <td>
                {% with primary_email=user_obj.primary_email %}
                  {% if primary_email %}<a href="mailto:{{ primary_email }}">{{ primary_email }}</a>{% endif %}
                {% endwith %}
              </td>
              <td>{{ user_obj.organisations.first.name|default_if_none:"" }}</td>
              <td>{{ user_obj.last_login|date:"Y-m-d H:i" }}</td>
              <td>{{ user_obj.date_joined|date:"Y-m-d H:i" }}</td>
              {% if sso_validation_period_is_active %}
                {% block user-detail-valid_until %}
                  <td class="{{ user_obj|valid_until_class }}">{{ user_obj.valid_until|date:"Y-m-d H:i" }}</td>{% endblock user-detail-valid_until %}
              {% endif %}
            </tr>
          {% endblock user-detail %}
        {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}{% pagination page_obj cl %}{% endif %}
    </section>
  </main>
{% endblock content %}
