// same as alert-danger for fit with django message.tags

html {
  overflow-y: scroll;
}

body {
  padding-top: 5rem;
}

main {
  @include make-row();
}

aside {
  @include media-breakpoint-down(md) {
    order: 6;
  }
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col(5);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
  @include media-breakpoint-up(xl) {
    @include make-col(3);
  }
}

section {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col(12);
  }
}

aside + section {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col(7);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
  @include media-breakpoint-up(xl) {
    @include make-col(9);
  }
}

.list-group-item > .badge {
  float: right;
}


div.form-group {
  margin-bottom: 1rem;
  @include make-row();

  > label {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
  }

  > .g10f-form-control {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(9);
    }
  }

  > .g10f-form-control_lg {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }
  }

  > .g10f-form-submit {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col-offset(3);
      @include make-col(9);
    }
  }
}


noscript div {
  margin-top: -20px;
}

.pull-right {
  float: right !important;
}

.hidden {
  @include visually-hidden();
}

// hidden honey pot field in the registration form
.g10f-honeypot {
  @include visually-hidden();
}

// filter row in the list view
.g10f-filter-row {
  margin-bottom: .5rem;

  .nav-item {
    margin-right: .25rem;
    margin-bottom: .25rem;
  }
}

// thumbnail in the global navigation bar
.g10f-icon-user {
  margin-top: -10px;
  margin-bottom: -9px;
}

section {
  .g10f-centered {
    margin-right: auto;
    margin-left: auto;

    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(10);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }
}

aside + section {
  .g10f-centered {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(12);
    }
  }
}

.breadcrumb > li {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + li {
    padding-left: $breadcrumb-item-padding-x;

    &::before {
      float: left; // Suppress inline spacings and underlining of the separator
      padding-right: $breadcrumb-item-padding-x;
      color: $breadcrumb-divider-color;
      content: var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
    }
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}

// table sorting header
.sortpriority {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
}

//
// stacked forms
//
.empty-form {
  display: none;
}

.inline-related {
  div.delete {
    float: right;

    div {
      float: left;
    }

    label {
      display: inline;
    }
  }
}

.inline-group {
  .add-row {
    height: $input-height;

    a {
      float: right;
    }
  }
}

.inline-deletelink {
  border: 0 none;
  float: right;
  height: 15px;
  outline: 0 none;
}

// ol widget
.clear_features {
  margin-top: .5rem;
}

// footer
footer {
  > div {
    > ul {
      margin-top: 1rem;
      padding-left: 0;

      > li {
        display: inline;
        padding: 0 2px;
      }
    }
  }
}

// color mode button
.theme-toggle * {
  display: none;
}

html[data-theme="auto"] .theme-icon-when-auto {
  display: inline-block;
}

html[data-theme="dark"] .theme-icon-when-dark {
  display: inline-block;
}

html[data-theme="light"] .theme-icon-when-light {
  display: inline-block;
}
