// same as alert-danger for fit with django message.tags
$theme-colors: map-merge(
  (
    "error":     $danger,
  ),
  $theme-colors
);

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

main {
  @include make-row();
}

main aside {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
}

main section {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(8);
  }
  @include media-breakpoint-up(md) {
    @include make-col(9);
  }

}

.dwbn-label {
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(4);
  }
}

.dwbn-content {
  @include make-col-ready();

  @include media-breakpoint-up(xs) {
    @include make-col(8);
  }
}

div.form-group {
  > label {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
  }

  > .dwbn-form-control {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(9);
    }
  }

  > .dwbn-form-control_lg {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }
  }

  > .dwbn-form-submit {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col-offset(3);
      @include make-col(9);
    }
  }
}

// bootstrap indent the labels to position radios/checkboxes as hanging controls.
// we have the label as seperate element and not the checkbox inside a label
.dwbn-form-control div.checkbox > input[type="checkbox"] {
  margin-left: 0;
}

noscript div {
  margin-top: -20px;
}

// hide element if javascript is not enabled
html.no-js .no-js-hide {
  @include visually-hidden();
}

// hidden honey pot field in the registration form
.dwbn-honeypot {
  @include visually-hidden();
}

// filter row in the list view
.dwbn-filter-row {
  margin-bottom: 15px;
}

.dwbn-nav-tabs {
  margin-bottom: 20px;
}

// thumbnail in the global navigation bar
.dwbn-icon-user {
  margin-top: -10px;
  margin-bottom: -9px;
}

.dwbn-centered {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col-offset(1);
    @include make-col(10);
  }
  @include media-breakpoint-up(lg) {
    @include make-col-offset(2);
    @include make-col(8);
  }
}
