{% extends "organisations/adminregion_form.html" %}
{% load i18n static %}

{% block title %}{% trans 'Add Region' %}{% endblock %}

{% block left_content %}{% include 'include/_navigation.html' with active_navigation="adminregion_create" %}{% endblock left_content %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'organisations:adminregion_list' %}">{% trans 'Regions' %}</a></li>
    <li class="active">{% trans 'Add Region' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block submit_group %}
  <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
{% endblock %}
