{% extends "organisations/organisation_detail.html" %}
{% load i18n %}

{% block title %}{% translate 'Delete Organisation' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'organisations:organisation_list' %}">{% translate 'Organisations' %}</a></li>
    <li class="active">{% translate 'Delete Organisation' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block message %}
  <div class="alert alert-danger">
    {% translate "Please confirm deleting this organisation" %}
  </div>
{% endblock %}


{% block submit_group %}
  <form class="form-horizontal" method="post">{% csrf_token %}
    <button type="submit" class="btn btn-danger">{% translate 'Confirm Delete Organisation' %}</button>
    <a class="btn btn-primary" href="{% url 'organisations:organisation_detail' object.uuid.hex %}">{% translate 'Cancel' %}</a>
  </form>
{% endblock %}
