{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% trans 'Organisation Pictures' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'organisations:organisation_list' %}">{% trans 'Organisations' %}</a></li>
    <li><a href="{% url 'organisations:organisation_detail' object.uuid.hex %}">{{ object.name }}</a></li>
    <li class="active">{% trans 'Update Picture' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" enctype="multipart/form-data" method="post">
    <h1>{{ object.get_center_type_display }} {{ object.name }}</h1>
    {% include 'include/_form_boilerplate.html' %}

    {% for formset in formsets %}
      {% include formset.form.template %}
    {% endfor %}

    <div class="form-group">
      <div class="g10f-form-submit">
        {% block submit_group %}
          <button type="submit" class="btn btn-secondary" name="_continue">{% trans 'Save and continue editing' %}</button>
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        {% endblock submit_group %}
      </div>
    </div>
  </form>
{% endblock %}
