{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Country Details' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'organisations:organisationcountry_list' %}">{% translate 'Countries' %}</a></li>
    <li class="active">{% translate 'Country Details' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block form %}

  {% block message %}{% endblock %}

  <h1>{{ object.country }}</h1>

  {% if messages %}{% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-4">{% translate 'Country' %}:</div>
    <div class="col-8">{{ object.country }}</div>
  </div>
  <div class="row">
    <div class="col-4">{% translate 'Homepage' %}:</div>
    <div class="col-8"><a href="{{ object.homepage }}">{{ object.homepage }}</a></div>
  </div>
  <div class="row">
    <div class="col-4">{% translate 'Active' %}:</div>
    <div class="col-8"><i class="bi bi-{% if object.is_active %}check-{% endif %}square"></i></div>
  </div>

  <div class="row">
    <div class="col-4">{% translate 'Email address' %}:</div>
    <div class="col-8">{{ object.email|default_if_none:"" }}</div>
  </div>

  <div class="row">
    <div class="col-4">{% translate 'Organisations' %}:</div>
    <div class="col-8"><a href="{% url 'organisations:organisation_list' %}?country={{ object.country.pk }}">{% translate 'Organisations' %}</a></div>
  </div>

  {% if perms.organisations.change_organisationcountry and has_country_access %}
    {% for emailforward in  object.email.emailforward_set.all %}
      <div class="row">
        <div class="col-4">{% translate 'Email forwarding address' %}:</div>
        <div class="col-8">{{ emailforward }}</div>
      </div>
    {% endfor %}
    {% for emailalias in  object.email.emailalias_set.all %}
      <div class="row">
        <div class="col-4">{% translate 'Email alias address' %}:</div>
        <div class="col-8">{{ emailalias }}</div>
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-4">{% translate 'Country Groups' %}:</div>
      <div class="col-8">
        <ul>
          {% for group in object.country_groups.all %}
            <li>{{ group }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <br>

  <div class="form-group">
    <div class="g10f-form-control_lg">
      {% block submit_group %}
        {% if perms.organisations.change_organisationcountry and has_country_access %}
          <a class="btn btn-primary" href="{% url 'organisations:organisationcountry_update' object.uuid.hex %}">{% translate 'Edit' %}</a>
        {% endif %}
      {% endblock %}
    </div>
  </div>

{% endblock %}

