{% extends "base_form.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% translate 'Organisation Details' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'organisations:organisation_list' %}">{% translate 'Organisations' %}</a></li>
    <li class="active">{{ object.name }}</li>
  </ol>
{% endblock breadcrumb %}


{% block form %}

  {% block message %}{% endblock %}

  <h1>{{ object.get_center_type_display }} {{ object.name }}</h1>

  {% include 'include/_messages.html' %}
  <div class="row">
    {% for org_pic in object.organisationpicture_set.all %}
      <div class="col-sm-6 col-lg-5 col-xl-4">
        <figure class="text-center">
          <a href="{{ org_pic.picture.url }}">{% thumbnail org_pic.picture "480x480" crop="center" as im %}
            <img class="img-fluid rounded" src="{{ im.url }}" width="{% widthratio im.width 100 50 %}" height="{% widthratio im.height 100 50 %}"
                 alt="">{% endthumbnail %}</a>
          <figcaption class="figure-caption">{% if org_pic.title %}
            <div class="fs-6">{{ org_pic.title }}</div>{% endif %}{{ org_pic.description }}</figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
  {% if object.name_native %}
    <div class="row">
      <div class="col-4">{% translate 'Name in native language' %}:</div>
      <div class="col-8">{{ object.name_native }}</div>
    </div>
  {% endif %}

  {% if multiple_associations and object.association %}
    <div class="row">
      <div class="col-4">{% translate 'Association' %}:</div>
      <div class="col-8">
        {% if object.association.homepage %}
          <a href="{{ object.association.homepage }}">{{ object.association }}</a> {% else %}
          {{ object.association }}{% endif %}
      </div>
    </div>
  {% endif %}

  {% if object.organisation_country %}
    <div class="row">
      <div class="col-4">{% translate 'Country' %}:</div>
      <div class="col-8">
        {% if object.organisation_country.homepage %}
          <a href="{{ object.organisation_country.homepage }}">{{ object.organisation_country }}</a> {% else %}
          {{ object.organisation_country }}{% endif %}
      </div>
    </div>
  {% endif %}

  {% if object.admin_region %}
    <div class="row">
      <div class="col-4">{% translate 'Region' %}:</div>
      <div class="col-8">
        {% if object.admin_region.homepage %}
          <a href="{{ object.admin_region.homepage }}">{{ object.admin_region }}</a> {% else %}
          {{ object.admin_region }}{% endif %}
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-4">{% translate 'Homepage' %}:</div>
    <div class="col-8"><a href="{{ object.homepage }}">{{ object.homepage }}</a></div>
  </div>
  {% if object.source_urls %}
    <div class="row">
      <div class="col-4">{% translate 'Source URLs' %}:</div>
      <div class="col-8">
        {% for url in object.source_urls %}{% if not forloop.first %}<br>{% endif %}
          <a href="{{ url }}">{{ url }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if object.google_plus_page %}
    <div class="row">
      <div class="col-4">{% translate 'Google+ page' %}:</div>
      <div class="col-8"><a href="{{ object.google_plus_page }}">{% translate 'Google+ page' %}</a></div>
    </div>
  {% endif %}
  {% if object.facebook_page %}
    <div class="row">
      <div class="col-4">{% translate 'Facebook page' %}:</div>
      <div class="col-8"><a href="{{ object.facebook_page }}">{% translate 'Facebook page' %}</a></div>
    </div>
  {% endif %}
  {% if object.twitter_page %}
    <div class="row">
      <div class="col-4">{% translate 'Twitter page' %}:</div>
      <div class="col-8"><a href="{{ object.twitter_page }}">{% translate 'Twitter page' %}</a></div>
    </div>
  {% endif %}
  {% if object.local_datetime %}
    <div class="row">
      <div class="col-4">{% translate 'Local date and time' %}:</div>
      <div class="col-8">{{ object.local_datetime }}</div>
    </div>
  {% endif %}
  {% if object.google_maps_url %}
    <div class="row">
      <div class="col-4">{% translate 'Google Maps' %}:</div>
      <div class="col-8"><a href="{{ object.google_maps_url }}"><i class="bi bi-geo"></i> {% translate 'Google Maps' %}
        ({{ object.get_coordinates_type_display }})</a>
      </div>
    </div>
  {% endif %}
  {% if object.founded %}
    <div class="row">
      <div class="col-4">{% translate 'Founded' %}:</div>
      <div class="col-8">{{ object.founded }}</div>
    </div>{% endif %}
  {% if object.email %}
    <div class="row">
      <div class="col-4">{% translate 'Email address' %}:</div>
      <div class="col-8"><a href="mailto:{{ object.email }}">{{ object.email }}</a></div>
    </div>
    {% if organisation_account and perms.accounts.change_user and has_organisation_account_access %}
    <div class="row">
      <div class="col-4">{% translate 'User account' %}:</div>
      <div class="col-8"><a class="" href="{% url 'accounts:update_user' organisation_account.uuid.hex %}">{{ organisation_account.username }}</a></div>
    </div>
    {% endif %}
    {% if perms.organisations.change_organisation and has_organisation_access %}
      {% for emailforward in  object.email.emailforward_set.all %}
        <div class="row">
          <div class="col-4">{% translate 'Email forwarding address' %}:</div>
          <div class="col-8">{{ emailforward }}</div>
        </div>
      {% endfor %}
      {% for emailalias in  object.email.emailalias_set.all %}
        <div class="row">
          <div class="col-4">{% translate 'Email alias address' %}:</div>
          <div class="col-8">{{ emailalias }}</div>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if perms.organisations.change_organisation %}
    {% if object.country.organisationcountry.country_groups.exists %}
      <div class="row">
        <div class="col-4">{% translate 'Country groups' %}:</div>
        <div class="col-8">
          {% for country_group in object.country.organisationcountry.country_groups.all %}
            {% if country_group.homepage %}
              <a href="{{ country_group.homepage }}">{{ country_group }}</a>{% else %}
              {{ country_group }}{% endif %}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if perms.organisations.change_organisation %}
    <div class="row">
      <div class="col-4">{% translate 'Active' %}:</div>
      <div class="col-8">
        <i data-bs-toggle="tooltip"
           title="{% translate 'Designates whether this organisation should be treated as active. Unselect this instead of deleting the organisation.' %}"
           class="bi bi-{% if object.is_active %}check-{% endif %}square"></i></div>
    </div>
    <div class="row">
      <div class="col-4">{% translate 'Private' %}:</div>
      <div class="col-8">
        <i data-bs-toggle="tooltip"
           title="{% translate 'Designates whether this organisation data should be treated as private and only a telephone number should be displayed on public sites.' %}"
           class="bi bi-{% if object.is_private %}check-{% endif %}square"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-4">{% translate 'Live' %}:</div>
      <div class="col-8">
        <i data-bs-toggle="tooltip" title="{% translate 'Designates whether this organisation is live or prelive.' %}"
           class="bi bi-{% if object.is_live %}check-{% endif %}square"></i></div>
    </div>
    {% if organisation.transregional_measure_distance != None %}
      <div class="row">
        <div class="col-4">
          {% translate 'Transregional distance' %}:
        </div>
        <div class="col-8">
          <span data-bs-toggle="tooltip" data-placement="right" title="{% translate 'Distance used for calculations of transregional events [km].' %}">
            {{ organisation.transregional_measure_distance.km|floatformat }} km</span>
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% for address in object.organisationaddress_set.all %}
    <h2>{{ address.get_address_type_display }}</h2>
    <div class="row">
      <div class="col-4">{% translate 'Addressee' %}:</div>
      <div class="col-8">{{ address.addressee }}</div>
    </div>
    <div class="row">
      <div class="col-4">{% translate 'Street Address' %}:</div>
      <div class="col-8">{{ address.street_address|linebreaksbr }}</div>
    </div>
    <div class="row">
      <div class="col-4">{% translate 'City' %}:</div>
      <div class="col-8">{{ address.city }}</div>
    </div>
    <div class="row">
      <div class="col-4">{% translate 'Postal Code' %}:</div>
      <div class="col-8">{{ address.postal_code }}</div>
    </div>
    {% if state %}
      <div class="row">
        <div class="col-4">{% translate 'state' %}:</div>
        <div class="col-8">{{ address.state }}</div>
      </div>{% endif %}
  {% endfor %}

  {% if object.organisationphonenumber_set.all %}
    <h2>{% translate 'Phone Numbers' %}</h2>
    {% for phone_number in object.organisationphonenumber_set.all %}
      <div class="row">
        <div class="col-4">{{ phone_number.get_phone_type_display }} {% translate 'Phone' %}:</div>
        <div class="col-8">{{ phone_number }}</div>
      </div>
    {% endfor %}{% endif %}

  <h2>{% translate 'Nearest Organisations' %} {% if organisation.neighbour_distance != None %}(<
    {{ organisation.neighbour_measure_distance.km|floatformat }} km){% endif %}</h2>
  {% for organisation in object.get_near_organisations %}
    <div class="row">
      <div class="col-4"><a href="{% url 'organisations:organisation_detail' organisation.uuid.hex %}">{{ organisation.name }}:</a>
      </div>
      <div class="col-8">{{ organisation.distance.km|floatformat }} km</div>
    </div>
  {% endfor %}

  <br>

  <div class="row">
    <div class="g10f-form-control_lg">
      {% block submit_group %}
        {% if has_organisation_access %}
          {% if perms.organisations.delete_organisation %}
            <a class="btn btn-secondary" href="{% url 'organisations:organisation_delete' object.uuid.hex %}">{% translate 'Delete' %}</a>
          {% endif %}
          {% if perms.organisations.change_organisation %}
            <a class="btn btn-secondary" href="{% url 'organisations:organisation_picture_update' object.uuid.hex %}">{% translate 'Update Pictures' %}</a>
            <a class="btn btn-primary" href="{% url 'organisations:organisation_update' object.uuid.hex %}">{% translate 'Edit' %}</a>
          {% endif %}
        {% endif %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
