{% extends "organisations/organisation_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Add Organisation' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'organisations:organisation_list' %}">{% translate 'Organisations' %}</a></li>
    <li class="active">{% translate 'Add Organisation' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block submit_group %}
  {% if redirect_uri %}<a class="btn btn-secondary" href="{{ redirect_uri }}">{% translate 'Back' %}</a>{% endif %}
  <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
{% endblock %}
