{% extends "organisations/organisationcountry_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Add Country' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'organisations:organisationcountry_list' %}">{% translate 'Countries' %}</a></li>
    <li class="active">{% translate 'Add Country' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block submit_group %}
  <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
{% endblock %}
