{% extends "auth/login_base.html" %}
{% load i18n static %}

{% block script %}
  {% include 'auth/include/u2f_jscript.html' %}
  {% comment %}
  {% if display != 'popup' %}
    <script type="text/javascript" src="{% static "js/vendor/bs5/beta2/bootstrap.bundle.min.js" %}"></script>
  {% endif %}
  {% endcomment %}
{% endblock %}


{% block content %}
  <div class="sign-in-form">
    <form class="d-grid" method="post" id="u2f_sign_form">{% csrf_token %}
      <button class="hidden" type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>

      <h1 class="h3 text-center">{% translate 'Connect your U2F device' %}</h1>

      {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
      {% endif %}

      <div class="alert alert-primary" id="u2f-login-text" role="alert">{{ device.login_text }}</div>

      <div class="alert alert-danger browser-not-supported">
        {% translate 'Your current browser is not yet supported.' %}
      </div>

      <div id="u2f-status"></div>

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {% for key, errors in form.errors.items %}
            {% for error in errors %}{{ error }}<br>{% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group {% if field.errors %}has-error{% endif %} {% if field.is_hidden %}dwbn-ab{% endif %}">
          <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>

          <div class="g10f-form-control">
            {{ field }}{% if field.help_text or field.errors %}
              <div class="form-text">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</div>{% endif %}
          </div>
        </div>
      {% endfor %}

    </form>

    {% if other_devices %}
      <div class="text-center pt-2">{% translate "Alternatively, use one of your backup devices:" %}</div>
      {% for other in other_devices %}
        <form class="d-grid" action="{{ other.url }}" method="post">{% csrf_token %}
          <button class="btn btn-lg btn-default" type="submit" name="resend_token" value=1">{{ other.device.default_name }}</button>
        </form>
      {% endfor %}
    {% endif %}

    <div class="py-2 text-center">{% if cancel_url %}<a class="link-danger" href="{{ cancel_url }}">{% translate 'Cancel' %}</a>{% endif %}</div>
  </div>
{% endblock content %}


