{% extends "auth/login_base.html" %}
{% load i18n %}

{% block content %}
  <form class="sign-in-form" method="post" id="login-form">
    {% block form-signin-heading %}
      <h1 class="text-center">{% blocktrans %}Log in with your {{ brand }} account{% endblocktrans %}</h1>
    {% endblock %}

    {% include 'include/_form_boilerplate.html' %}

    {% block login_message %}{% endblock %}

    {{ form.username }}
    {{ form.password }}

    {% block extra_fields %}{% endblock %}

    <button class="btn btn-lg btn-brand" type="submit">{% trans 'Log in' %}</button>

    <div class="form-check mx-auto" title="{{ form.remember_me.help_text }}">
      {{ form.remember_me }}
      <label class="form-check-label" for="{{ form.remember_me.id_for_label }}">
        {{ form.remember_me.label }}
      </label>
    </div>

    {% url 'accounts:password_reset' as password_reset_url %}
    {% if password_reset_url %}
      <a class="btn btn-lg btn-light" target="_blank" href="{{ password_reset_url }}">{% trans 'Forgotten your password?' %}</a>
    {% endif %}

    {% if display != 'popup' %}
      <div class="py-2 text-center">
        {% if registration_open %}
          {% url 'registration:registration_register' as registration_register_url %}
          {% if registration_register_url and registration_open %}
            {% blocktrans %}New at {{ site_name }}? <a href="{{ registration_register_url }}">Register</a>{% endblocktrans %}
          {% endif %}
        {% endif %}

        {% if cancel_url %}
          {% translate 'or' %} <a class="link-danger" href="{{ cancel_url }}">{% trans 'Cancel' %}</a>
        {% endif %}
      </div>
    {% endif %}

  </form>
{% endblock %}
