{% extends "base.html" %}
{% load i18n static %}


<h1>{% block title %}{% trans "Enter Token" %}{% endblock %}</h1>

{% block bodyclass %}dwbn-{{ display }}{% endblock %}

{% block navbar %}
{% endblock navbar %}


{% block content %}

    <form class="dwbn-form-signin" action="" method="post">{% csrf_token %}

        <h3 class="dwbn-form-signin-heading">{% trans 'Two factor login' %}</h3>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="{%  static device.image %}" alt="{{ device }}">
            </div>
            <div class="media-body">{{ device.login_text }}</div>
        </div>
        <br>

        <div class="{% if form.otp_token.errors %}has-error{% endif %}">{{ form.otp_token }}</div>

        {% if form.errors %}
            <div class="alert alert-danger">
                {% for key, errors in form.errors.items %}
                    {% for error in errors %}{{ error }}<br>{% endfor %}
                {% endfor %}
            </div>
        {% endif %}


        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Submit' %}</button>
        </div>

        {% if other_devices %}
            <p>{% trans "Or, alternatively, use one of your backup phones:" %}</p>
            <p>
                {% for other in other_devices %}
                    <button name="challenge_device" value="{{ other.persistent_id }}"
                            class="btn btn-default btn-block" type="submit">
                    </button>
                {% endfor %}</p>
        {% endif %}

        {% if backup_tokens %}
            <p>{% trans "As a last resort, you can use a backup token:" %}</p>
            <p>
                <button name="wizard_goto_step" type="submit" value="backup"
                        class="btn btn-default btn-block">{% trans "Use Backup Token" %}</button>
            </p>
        {% endif %}

    </form>
{% endblock %}
