{% extends "auth/login_base.html" %}
{% load i18n %}

{% block content %}
  <div class="sign-in-form">
    <form class="d-grid gap-2" method="post">
      <h1 class="text-center">{% blocktranslate %}{{ brand }} 2-step verification{% endblocktranslate %}</h1>
      <input type="submit" class="hidden"/> {# to enable submit when pressing enter in the edit field #}
      {% include 'include/_form_boilerplate.html' %}

      <div class="text-center">{{ device.login_text }}</div>
      {% include 'include/_field_with_floating_label.html' with field=form.otp_token %}
      <button class="btn btn-lg btn-brand" type="submit">{% translate 'Submit' %}</button>
    </form>

    {% if other_devices %}
      <div class="text-center pt-2">{% translate "Alternatively, use one of your backup devices:" %}</div>
      {% for other in other_devices %}
        <form class="d-grid" action="{{ other.url }}" method="post">{% csrf_token %}
          <button class="btn btn-lg btn-default" type="submit" name="resend_token" value=1">{{ other.device.name|default:other.device.default_name }}</button>
        </form>
      {% endfor %}
    {% endif %}

    <div class="py-2 text-center">{% if cancel_url %}<a class="link-danger" href="{{ cancel_url }}">{% translate 'Cancel' %}</a>{% endif %}</div>
  </div>

{% endblock %}
