{% extends "base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs"><a href="/">{% translate "Home" %}</a> &rsaquo; {% translate "OAuth2 error" %}</div>{% endblock %}

{% block title %}{% translate 'OAuth2 error' %}{% endblock %}

{% block content %}
  <h1>{% translate 'OAuth2 Error' %}</h1>
  <p>{% blocktranslate %}There's been an OAuth 2 error: {{ error }}{% endblocktranslate %}</p>
  {% if error_description %}<p>{{ error_description }}</p>{% endif %}
{% endblock %}

