{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Delete Application' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'accounts:application_list' %}">{% translate 'Applications' %}</a></li>
    <li class="active">{{ object.title }}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post">
    <h1>{% translate 'Delete Application' %}</h1>

    {% include 'include/_form_boilerplate.html' %}

    <div class="form-group">
      <label class="col-form-label">{% translate 'Title' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ object.title }}</p></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">{% translate 'url' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ object.url }}</p></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">{% translate 'Note' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ object.note }}</p></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">{% translate 'Number of users in app roles:' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ user_count }}</p></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">{% translate 'Number of profiles with app roles:' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ role_profile_count }}</p></div>
    </div>

    <div class="form-group">
      <div class="g10f-form-control_lg">
        <button type="submit" class="btn btn-danger">{% translate 'Confirm Delete' %}</button>
        {% if cancel_url %}&nbsp;{% translate 'or' %}&nbsp;
          <a class="btn btn-secondary" href="{{ cancel_url }}">{% translate 'Cancel' %}</a>{% endif %}
      </div>
    </div>
  </form>
{% endblock %}
