{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Application Details' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'accounts:application_list' %}">{% translate 'Applications' %}</a></li>
    <li class="active">{{ object.title }}</li>
  </ol>
{% endblock breadcrumb %}


{% block form %}

  <h1>{% translate 'Application' %}</h1>
  {% include 'include/_messages.html' %}
  <div class="row">
    <div class="col-4">{% translate 'Title' %}:</div>
    <div class="col-8">{{ object.title }}</div>
  </div>
  <div class="row">
    <div class="col-4">{% translate 'Url' %}:</div>
    <div class="col-8"><a href="{{ object.url }}">{{ object.url }}</a></div>
  </div>
  <div class="row">
    <div class="col-4">{% translate 'Notes' %}:</div>
    <div class="col-8">{{ object.notes }}</div>
  </div>
  <div class="row">
    <div class="col-4">{% translate 'Active' %}:</div>
    <div class="col-8"><i class="bi bi-{% if object.is_active %}check-{% endif %}square"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-4">{% translate 'Internal' %}:</div>
    <div class="col-8"><i class="bi bi-{% if object.is_internal %}check-{% endif %}square"></i>
    </div>
  </div>
  {% if object.applicationrole_set.all %}
    <div class="row">
      <div class="col-4">{% translate 'Application Roles' %}:</div>
      <div class="col-8">{% for role in object.applicationrole_set.all %}{{ role.role }}{% if not forloop.last %},
      {% endif %}{% endfor %}</div>
    </div>
  {% endif %}

  {% if object.applicationadmin_set.all %}
    <div class="row">
      <div class="col-4">{% translate 'Application Admins' %}:</div>
      <div class="col-8">{% for applicationadmin in object.applicationadmin_set.all %}{{ applicationadmin.admin }}
        {% if not forloop.last %}, {% endif %}{% endfor %}</div>
    </div>
  {% endif %}

  <br>
  <div class="form-group">
    <div class="g10f-form-control_lg">
      {% block submit_group %}
        {% if perms.accounts.delete_application %}
          <a class="btn btn-secondary" rel="delete"
             href="{% url 'accounts:application_delete' object.uuid.hex %}">{% translate 'Delete' %}</a>
        {% endif %}
        {% if perms.accounts.change_application %}
          <a class="btn btn-secondary" rel="update"
             href="{% url 'accounts:application_update' object.uuid.hex %}">{% translate 'Edit' %}</a>
        {% endif %}
        {% if perms.oauth2.add_client %}
          <a class="btn btn-primary" rel="add-client" href="{% url 'accounts:client_add' object.uuid.hex %}"> <i
              class="bi bi-plus-circle"></i> {% translate 'Add OIDC client' %}</a>
        {% endif %}
      {% endblock %}
    </div>
  </div>
  <br>

  {% if object.client_set.all %}
    <h4>{% translate 'OIDC clients' %}</h4>
    <div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col">{% translate 'Name' %}</th>
            <th scope="col">{% translate 'Client ID' %}</th>
            <th scope="col">{% translate 'Type' %}</th>
            <th scope="col">{% translate 'Scopes' %}</th>
            <th scope="col">{% translate 'Active' %}</th>
            <th scope="col">{% translate 'Action' %}</th>
          </tr>
          </thead>
          <tbody>
          {% for object in client_list %}
            <tr {% if object.title %}data-bs-toggle="tooltip" title="{{ object.title }}"{% endif %}>
              <td>{{ object.name }}</td>
              <td>{{ object.uuid }}</td>
              {% with has_access_to_all_users=object.has_access_to_all_users %}
                <td {% if has_access_to_all_users %}data-bs-toggle="tooltip"
                    title="{% translate 'Has access to all users' %}"{% endif %}>
                  {{ object.get_type_display }}{% if has_access_to_all_users %}
                    <i class="bi bi-person-check-fill"></i>{% endif %}</td>
              {% endwith %}
              <td>{{ object.scopes }}</td>
              <td>{% if object.is_active %}<i class="bi bi-check2"></i>{% endif %}
              <td>
                <a class="btn btn-default{% if not object.user_has_access %} disabled{% endif %}" rel="update-client"
                   role="button"
                   {% if object.user_has_access %}href="{% url 'accounts:client_update' object.uuid.hex %}"{% endif %}>{% translate 'Edit' %}</a>
                <a class="btn btn-secondary{% if not object.user_has_access %} disabled{% endif %}" rel="delete-client"
                   role="button"
                   {% if object.user_has_access %}href="{% url 'accounts:client_delete' object.uuid.hex %}"{% endif %}>{% translate 'Delete' %}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

{% endblock %}
