{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{{ brand }} | {% translate 'Contact Information' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'Feedback' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form role="form" class="form-horizontal" method="post">
    <h1>{% translate 'Feedback' %}</h1>
    {% include 'include/_form_boilerplate.html' %}
    {% include 'include/_form_snippet.html' %}

    <div class="form-group">
      <div class="g10f-form-submit">
        <button type="submit" class="btn btn-primary">{% translate 'Send' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
