{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% translate 'Profile' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'User profile' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block form %}
  <form class="form-horizontal" method="post">
    <h1>{% translate 'Delete Profile' %}</h1>
    <p>{% translate "Do you want to delete your account?" %}</p>

    {% include 'include/_form_boilerplate.html' %}

    <div class="form-group">
      <div class="g10f-form-control_lg">
        <button type="submit" class="btn btn-danger">{% translate 'Delete' %}</button>
        &nbsp;{% translate 'or' %}&nbsp; <a class="btn btn-secondary" href="{% url 'accounts:profile' %}">{% translate 'Cancel' %}</a>
      </div>
    </div>

    <script>document.getElementById("id_first_name").focus();</script>

  </form>
{% endblock %}
