{% extends "centered_form.html" %}
{% load i18n static %}

{% block title %}{% translate 'Log in' %}{% endblock %}

{% block form %}
  <form class="form-horizontal" method="post" id="login-form">
    <h1>{% translate 'Profile Update' %}</h1>
    <p>{% translate "Please update your Userprofile." %}</p>

    {% block login_message %}{% endblock %}

    {% include 'include/_form_boilerplate.html' %}

    {% include 'include/_field.html' with field=form.username %}
    {% include 'include/_field.html' with field=form.organisation %}
    {% include 'include/_field.html' with field=form.first_name %}
    {% include 'include/_field.html' with field=form.last_name %}
    {% include 'include/_field.html' with field=form.email %}

    <input type="hidden" name="login_form_key" value="login_profile_form"/>
    <input type="hidden" name="next" value="{{ next }}"/>

    {% block extra_fields %}{% endblock %}

    <button class="btn btn-primary" type="submit">{% translate 'Save' %}</button>
    {% if cancel_url %}
      &nbsp;{% translate 'or' %}&nbsp; <a class="btn btn-danger" href="{{ cancel_url }}">{% translate 'Cancel' %}</a>
    {% endif %}
  </form>

  <script>document.getElementById('id_username').focus();</script>
{% endblock %}
