{% extends "base_site.html" %}
{% load i18n %}


{% block title %}{{ brand }} | {% translate 'One Time Message' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'One Time Message' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block right_content %}
  <h1>{% translate 'One Time Message' %}</h1>
  <div class="alert alert-danger" role="alert">
    {% blocktranslate %}Please note, that the following personal message is displayed only once.{% endblocktranslate %}
  </div>

  <h1>{{ object.title }}</h1>
  {{ object.message|safe }}

{% endblock right_content %}