{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Organisation Change Details' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'accounts:profile' %}">{% translate 'My Account' %}</a></li>
    <li class="active">{% translate 'Update My Organisation' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}

  {% block message %}{% endblock %}

  <h1>{% translate 'Update My Organisation' %}</h1>

  {% include 'include/_messages.html' %}

  <div class="alert alert-info">
    {% blocktranslate trimmed with name=object.organisation.name %}Please contact one of the user administrators at your organisation {{ name }} to complete the
      change.{% endblocktranslate %}
  </div>
  <div class="row">
    <div class="col-sm-6">
      {% for admin in admins %}
        {% if not forloop.counter|divisibleby:"2" %}
          {% include 'access_requests/_admin.html' %}{% endif %}{% endfor %}</div>
    <div class="col-sm-6">
      {% for admin in admins %}
        {% if forloop.counter|divisibleby:"2" %}
          {% include 'access_requests/_admin.html' %}{% endif %}{% endfor %}</div>
  </div>

  <br>

  <div class="form-group">
    <div class="g10f-form-control_lg">
      {% block submit_group %}
        {% if redirect_uri %}<a class="btn btn-secondary" href="{{ redirect_uri }}">{% translate 'Back' %}</a>{% endif %}
        <a class="btn btn-secondary" href="{{ update_url }}" role="button">{% translate 'Edit organisation change' %}</a>
      {% endblock %}
    </div>
  </div>

{% endblock %}
