{% extends 'base_list.html' %}
{% load i18n list tz %}

{% block title %}{% translate 'Organisation Change Request List' %}{% endblock %}

{% block nav_accounts_user_list_class %}active{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'Organisation Changes' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block content %}
  <div class="row">
    <div class="col-sm-12">
      {% include 'include/_messages.html' %}
    </div>
  </div>

  <div class="g10f-filter-row">
    <ul class="nav">
      <li class="nav-item">{% include 'include/_search_form.html' %}</li>
      {% for filter in filters %}{% if filter %}
        <li class="nav-item">{% include filter.template_name with filter=filter %}</li>
      {% endif %}{% endfor %}
    </ul>
  </div>

  <main>
    <section class="table-responsive">
      <table class="table table-bordered table-striped">
        {% include "include/table_header.html" %}
        <tbody>
        {% for object in object_list %}
          <tr>
            <td><a class="" href="{% url 'accounts:organisationchange_accept' object.pk %}">{{ object.user.username }}</a></td>
            <td>{{ object.user.organisations.first|default_if_none:"" }}</td>
            <td>{{ object.organisation }}</td>
            <td>{{ object.message|truncatechars:30 }}</td>
            <td>{{ object.user.primary_email|default_if_none:"" }}</td>
            <td>{{ object.last_modified|utc|date:"Y-m-d H:i" }}</td>
            <td>{% include 'include/_comment_field.html' with comment=object.comment %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}{% pagination page_obj cl %}{% endif %}
    </section>
  </main>
{% endblock content %}
