{% extends "centered_form.html" %}
{% load i18n static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block form %}
  <form class="form-horizontal" role="form" method="post">
    <h1 class="h3">{% trans "Password reset" %}</h1>
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    {% include 'include/_form_boilerplate.html' %}
    {% include 'include/_form_snippet.html' %}

    <div class="form-group">
      <div class="g10f-form-submit">
        <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
