{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% translate 'Password change' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'Password change' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post">
    <h1 class="h3">{% translate 'Password change' %}</h1>
    {% include 'include/_form_boilerplate.html' %}

    <p>{% translate "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
    {% include "accounts/includes/password_requirements.html" %}

    {% include 'include/_form_snippet.html' %}

    <div class="form-group">
      <div class="g10f-form-submit">
        {% if redirect_uri %}<a class="btn btn-secondary" href="{{ redirect_uri }}">{% translate 'Back' %}</a>{% endif %}
        <button type="submit" class="btn btn-primary">{% translate 'Change my password' %}</button>
      </div>
    </div>
    <script>document.getElementById("id_old_password").focus();</script>

  </form>
{% endblock %}
