{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Create password complete' %}{% endblock %}

{% block form %}

    <h1>{% trans 'Create password complete' %}</h1>

    <p>
        {% if user.is_authenticated %}
            {% trans 'Welcome,' %}
            <strong>{% filter force_escape %}{% firstof user.get_full_name user.username %}{% endfilter %}</strong>.
        {% endif %}
        {% trans "Your password has been created." %}
        {% if not user.is_authenticated %}
            {% trans "You may go ahead and log in now." %}
        {% endif %}

    </p>

    <p>
        {% if user.is_authenticated %}
            {% if app %}
                {% blocktrans with title=app.title url=app.url %}You can now start using <a href="{{ url }}">{{ title }}</a>.{% endblocktrans %}
            {% else %}
                <a href="{% url 'home' %}">{% block brand %}{{ brand }}{% endblock %}</a>
            {% endif %}
        {% else %}
            <a href="{{ login_url }}">{% trans 'Log in' %}</a>
        {% endif %}
    </p>

{% endblock %}
