{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Create Password' %}{% endblock %}

{% block form %}

  {% if validlink %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post">
      {% if form.user.picture %}
        <h1>{% translate 'Create Password' %}</h1>
        <p>{% translate "Please choose a password and enter your password twice so we can verify you typed it in correctly." %}</p>
      {% else %}
        <h1>{% translate 'Create password and profile picture' %}</h1>
        <p>{% translate "Please select a profile picture, choose a password and enter your new password twice so we can verify you typed it in correctly." %}</p>
      {% endif %}
      {% include "accounts/includes/password_requirements.html" %}

      {% include 'include/_form_boilerplate.html' %}

      {% if not form.user.picture %}
        {% include 'include/_picture_field.html' with field=form.picture %}
      {% endif %}
      {% include 'include/_field.html' with field=form.new_password1 %}
      {% include 'include/_field.html' with field=form.new_password2 %}

      <div class="form-group">
        <div class="g10f-form-submit">
          <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
      </div>
    </form>
  {% else %}
    <h1>{% translate 'Create Password unsuccessful' %}</h1>
    <p>{% translate "The create password link was invalid, possibly because it has already been used." %}</p>
    {% url 'accounts:password_reset' as password_reset_url %}
    {% if password_reset_url %}
      <div class="password-reset-link">
        <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
