{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Password change successful' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'accounts:password_change' %}">{% translate 'Password change' %}</a></li>
    <li class="active">{% translate 'Password change successful' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block form %}
  <h1>{% translate 'Password change successful' %}</h1>
  <p>{% translate 'Your password was changed.' %}</p>

  {% if redirect_uri %}
    <a class="btn btn-secondary" href="{{ redirect_uri }}">{% translate 'Continue' %}</a>
  {% endif %}

{% endblock %}
