{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block form %}

  <h1>{% trans 'Password reset complete' %}</h1>

  <p>
    {% if user.is_authenticated %}
      {% trans 'Welcome,' %}
      <strong>{% filter force_escape %}{% firstof user.get_full_name user.username %}{% endfilter %}</strong>.
    {% endif %}
    {% trans "Your password has been changed." %}
    {% if not user.is_authenticated %}
      {% trans "You may go ahead and log in now." %}
    {% endif %}
  </p>

  <p>
    {% if user.is_authenticated %}
      <a href="{% url 'home' %}">{% trans "Home" %}</a>
    {% else %}
      <a href="{{ login_url }}">{% trans 'Log in' %}</a>
    {% endif %}
  </p>

{% endblock %}
