{% extends "base_form.html" %}
{% load i18n static %}
{% load thumbnail %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block left_content %}{% include navigation_template with active_navigation="profile" %}{% endblock left_content %}

{% block extrascript %}
{{ media }}
<script src="{% static "js/formsets-1.1.js" %}"></script>
{% endblock extrascript %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'My Account' %}</li>
</ol> 
{% endblock breadcrumb %}


{% block form %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" data-active="{{ active }}">{% csrf_token %}	
    <h3>{% trans 'My account' %}</h3>		
    {% if messages %}{% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
    {% endif %}
		
    {% if form.errors %}
    <div class="alert alert-danger">
    {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </div>
    {% endif %}
	{% if errors %}
    <div class="alert alert-danger">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </div>
	{% endif %}
    
    {% include 'include/_picture_field.html' with field=form.picture %} 
    {% include 'include/_field.html' with field=form.username %}
    {% include 'accounts/includes/_organisation_field.html' with field=form.organisation %}
    {% include 'include/_field.html' with field=form.first_name %}
    {% include 'include/_field.html' with field=form.last_name %}
    {#% include 'include/_field.html' with field=form.email %#}
    {% include 'include/_field.html' with field=form.gender %} 
    {% include 'include/_field.html' with field=form.dob %} 
    {% include 'include/_field.html' with field=form.homepage %} 
    {% include 'include/_field.html' with field=form.language %}
	    
    <div class="form-group">
	    <div class="dwbn-form-submit">
	        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            <a class="btn btn-default" href="{% url 'accounts:delete_profile' %}">{% trans 'Delete' %}</a>
	    </div>
    </div>
</form>

{% endblock %}
