{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block left_content %}{% include 'include/_navigation.html' with active_navigation="profile" %}{% endblock left_content %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'My Account' %}</li>
  </ol>
{% endblock breadcrumb %}


{% block form %}
  <form enctype="multipart/form-data" class="form-horizontal" method="post" data-active="{{ active }}">
    <h1>{% trans 'My account' %}</h1>
    {% include 'include/_form_boilerplate.html' %}
    {% include 'include/_field.html' with field=form.account_type %}
    {% include 'include/_field.html' with field=form.username %}
    {% include 'include/_field.html' with field=form.organisation %}
    {% include 'include/_field.html' with field=form.email %}
    {% include 'include/_field.html' with field=form.language %}
    {% include 'include/_field.html' with field=form.timezone %}

    <div class="form-group">
      <div class="g10f-form-submit">
        {% if redirect_uri %}<a class="btn btn-secondary" href="{{ redirect_uri }}">{% trans 'Back' %}</a>{% endif %}
        <a class="btn btn-secondary" href="{% url 'accounts:delete_profile' %}">{% trans 'Delete' %}</a>
        <button type="submit" class="btn btn-secondary" name="_continue">{% trans 'Save and continue editing' %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>
    </div>
  </form>

{% endblock %}
