{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Profile' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'My Account' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form enctype="multipart/form-data" class="form-horizontal" method="post">
    <h1>{% translate 'My account' %}</h1>
    {% if user.is_profile_update_required %}
      <div class="alert alert-danger">{% translate "Please complete your profile data." %}</div>
    {% endif %}
    {% include 'include/_form_boilerplate.html' %}

    {% translate 'Profile' as base_title %}
    {% include 'bootstrap/forms/nav-tabs.html' %}

    <div class="tab-content">
      <div class="tab-pane" role="tabpanel" id="base">
        {% include 'include/_field.html' with field=form.picture %}
        {% include 'include/_field.html' with field=form.username %}
        {% include 'accounts/includes/_organisation_field.html' with field=form.organisation %}
        {% include 'include/_field.html' with field=form.first_name %}
        {% include 'include/_field.html' with field=form.last_name %}
        {% include 'include/_field.html' with field=form.gender %}
        {% include 'include/_field.html' with field=form.dob %}
        {% include 'include/_field.html' with field=form.homepage %}
        {% include 'include/_field.html' with field=form.language %}
        {% include 'include/_field.html' with field=form.timezone %}
      </div>

      {% for formset in formsets %}
        <div class="tab-pane" role="tabpanel" id="{{ formset.prefix }}">{% include formset.form.template %}</div>
      {% endfor %}

      <div class="form-group">
        <div class="g10f-form-submit">
          {% if redirect_uri %}
            <a class="btn btn-primary" href="{{ redirect_uri }}">
              {% if user.is_profile_update_required %}
                {% translate 'Continue without completing the profile' %}
              {% else %}
                {% translate 'Continue' %}
              {% endif %}
            </a>
          {% endif %}
          <a class="btn btn-secondary" href="{% url 'accounts:delete_profile' %}">{% translate 'Delete' %}</a>
          <button type="submit" class="btn btn-secondary"
                  name="_continue">{% translate 'Save and continue editing' %}</button>
          <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
