{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% translate 'Profile' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'My Account' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form enctype="multipart/form-data" class="form-horizontal" method="post" data-active="{{ active }}">
    <h1>{% translate 'My account' %}</h1>
    {% include 'include/_form_boilerplate.html' %}

    {% include 'include/_picture_field.html' with field=form.picture %}
    {% include 'include/_field.html' with field=form.username %}
    {% include 'accounts/includes/_organisation_field.html' with field=form.organisation %}
    {% include 'include/_field.html' with field=form.first_name %}
    {% include 'include/_field.html' with field=form.last_name %}
    {% include 'include/_field.html' with field=form.gender %}
    {% include 'include/_field.html' with field=form.dob %}
    {% include 'include/_field.html' with field=form.homepage %}
    {% include 'include/_field.html' with field=form.language %}
    {% include 'include/_field.html' with field=form.timezone %}

    <div class="form-group">
      <div class="g10f-form-submit">
        {% if redirect_uri %}<a class="btn btn-secondary" href="{{ redirect_uri }}">{% translate 'Back' %}</a>{% endif %}
        <a class="btn btn-secondary" href="{% url 'accounts:delete_profile' %}">{% translate 'Delete' %}</a>
        <button type="submit" class="btn btn-secondary" name="_continue">{% translate 'Save and continue editing' %}</button>
        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
      </div>
    </div>
  </form>

{% endblock %}
