{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% trans 'Email Details' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'accounts:profile' %}">{% trans 'My Account' %}</a></li>
    <li class="active">{% trans 'Email addresses' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block left_content %}{% include 'include/_navigation.html' with active_navigation="emails" %}{% endblock left_content %}

{% block form %}
  <h1>{% trans 'Email addresses' %}</h1>

  <p>{% trans 'If you would like to add another email address to your account, enter it below. Once you confirm the address, you can login with that email address and make the address to your primary contact email address.' %}</p>
  <p>{% blocktrans %}You can enter up to {{ max_email_adresses }} email addresses.{% endblocktrans %}</p>

  <form method="post">
    {% include 'include/_form_boilerplate.html' %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col" colspan="2">{% trans 'Email address' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for email in user.useremail_set.all %}
        <tr>
          <td>
            <div class="p-2">{{ email }}
              {% if email.primary %}<span class="badge rounded-pill bg-primary">{% trans 'primary' %}</span>{% endif %}
              {% if not email.confirmed %}<span class="badge rounded-pill bg-danger">{% trans 'unconfirmed' %}</span>{% endif %}
            </div>
          </td>
          <td>
            {% if not email.primary and email.confirmed %}
              <button name="set_primary" type="submit" class="btn btn-primary" value="{{ email.id }}">
                {% trans 'Set as primary' %}
              </button>{% endif %}
            {% if not email.confirmed %}
              <button name="send_confirmation" type="submit" class="btn btn-secondary" value="{{ email.id }}">
                <i class="bi bi-envelope"></i>
                {% trans 'Resend confirmation email' %}
              </button>{% endif %}
            {% if not email.primary %}
              <button name="delete" type="submit" class="btn btn-danger" value="{{ email.id }}">
                <i class="bi bi-trash"></i> {% trans 'Delete' %}
              </button>{% endif %}
          </td>
        </tr>
      {% endfor %}
      {% if user.useremail_set.all|length < max_email_adresses %}
        <tr>
          {% with field=form.email %}
            <td class="{% if field.errors %}has-error{% endif %}">
              {{ field }}
              {% if field.help_text or field.errors %}
                <div class="form-text">{{ field.help_text }} {% for error in field.errors %}
                  {{ error }} {% endfor %}</div>{% endif %}
            </td>
          {% endwith %}
          <td>
            <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>

    {% if redirect_uri %}
      <div class="form-group">
        <div class="g10f-form-control">
          <a class="btn btn-secondary" href="{{ redirect_uri }}">{% trans 'Back' %}</a>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}

