{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Delete User' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'Delete User' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post">
    <h1>{% translate 'Delete user' %}</h1>
    {% include 'include/_form_boilerplate.html' %}

    <div class="form-group">
      <label class="col-form-label">{% translate 'First name' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ object.first_name }}</p></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">{% translate 'Last name' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ object.last_name }}</p></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">{% translate 'Email address' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ object.primary_email }}</p></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">{% translate 'Notes' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ object.notes }}</p></div>
    </div>

    {% for organisation in object.organisations.all %}
      <div class="form-group">
        <label class="col-form-label">{% translate 'Organisation' %}</label>
        <div class="g10f-form-control"><p class="form-control-plaintext">{{ organisation }}</p></div>
      </div>
    {% endfor %}

    {% if object.registrationprofile %}
      {% with registrationprofile=object.registrationprofile %}
        <div class="form-group">
          <label class="col-form-label">{% translate 'Country' %}</label>
          <div class="g10f-form-control"><p class="form-control-plaintext">{{ registrationprofile.country }}</p></div>
        </div>

        <div class="form-group">
          <label class="col-form-label">{% translate 'City' %}</label>
          <div class="g10f-form-control"><p class="form-control-plaintext">{{ registrationprofile.city }}</p></div>
        </div>
      {% endwith %}
    {% endif %}

    <div class="form-group">
      <div class="g10f-form-control_lg">
        <button type="submit" class="btn btn-danger">{% translate 'Confirm Delete' %}</button>
        {% if cancel_url %}&nbsp;{% translate 'or' %}&nbsp; <a class="btn btn-secondary" href="{{ cancel_url }}">{% translate 'Cancel' %}</a>{% endif %}
      </div>
    </div>
  </form>
{% endblock %}
