{% extends "centered_form.html" %}
{% load i18n static thumbnail %}

{% block title %}{% translate 'Request extended access' %}{% endblock %}

{% block form %}
  <form class="form-horizontal" method="post">
  <h1>{% blocktranslate %}Request extended access to {{ site_name }}{% endblocktranslate %}</h1>
    {% include 'include/_form_boilerplate.html' %}

    <p>{% blocktranslate with first_name=user.first_name %}Dear {{ first_name }}.{% endblocktranslate %}</p>

    {% with application=form.initial.application %}
      {% if not application %}
        <p>{% blocktranslate trimmed %}You tried to access a {{ site_name }} application, with restricted access.
          If you can not access by mistake, you can apply for access to the administrators.{% endblocktranslate %}
        </p>
      {% else %}
        <p>{% blocktranslate trimmed %}You tried to access the {{ application }} application, with restricted access.
          If you can not access by mistake, you can apply for access to the administrators.{% endblocktranslate %}
        </p>
      {% endif %}
      <div class="row">
        <div class="col-sm-6">
          {% for admin in admins %}
            {% if not forloop.counter|divisibleby:"2" %}
              {% include 'access_requests/_admin.html' %}{% endif %}{% endfor %}</div>
        <div class="col-sm-6">
          {% for admin in admins %}
            {% if forloop.counter|divisibleby:"2" %}
              {% include 'access_requests/_admin.html' %}{% endif %}{% endfor %}</div>
      </div>
      <hr>
      {% include 'include/_base64_picture_field.html' with field=form.base64_picture %}
      {% include 'include/_field.html' with field=form.organisation %}
      {% include 'include/_field.html' with field=form.message %}

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          {% block submit_group %}
            <button type="submit" class="btn btn-primary">{% translate 'Request extended access' %}</button>
            {% if redirect_uri %}
              <a class="btn btn-secondary" href="{{ redirect_uri }}">{% translate 'Back' %}</a>
            {% endif %}
            {% if form.instance.pk %}
              <button type="submit" class="btn btn-secondary"
                      name="_cancel">{% translate 'Cancel extended access' %}</button>{% endif %}
          {% endblock %}
        </div>
      </div>
    {% endwith %}
  </form>
{% endblock %}
