{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% translate 'Accept extended access' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'access_requests:extend_access_list' %}">{% translate 'Request extended access list' %}</a></li>
    <li class="active">{% translate 'Accept extended access' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block form %}
  <form class="form-horizontal" method="post">
    <h1>{% translate 'Process extended access' %}</h1>
    {% if access_request.is_open %}
      {% translate "Please accept or deny the request for extended access." %}
    {% else %}
      <div class="alert alert-info">
        {% blocktranslate trimmed with status=access_request.get_status_display user=access_request.completed_by_user.get_full_name %}
          The request was already {{ status }} by {{ user }}.
        {% endblocktranslate %}</div>
    {% endif %}

    {% include 'include/_form_boilerplate.html' %}
    {% include 'include/_static_picture_field.html' with field=access_request.user.picture %}

    <div class="form-group">
      <label class="col-form-label">{% translate 'First name' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ access_request.user.first_name }}</p></div>
    </div>
    <div class="form-group">
      <label class="col-form-label">{% translate 'Last name' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ access_request.user.last_name }}</p></div>
    </div>
    <div class="form-group">
      <label class="col-form-label">{% translate 'Email address' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ access_request.user.primary_email }}</p></div>
    </div>
    <div class="form-group">
      <label class="col-form-label">{% translate 'Phone number' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ access_request.user.primary_phone }}</p></div>
    </div>
    <div class="form-group">
      <label class="col-form-label">{% translate 'Message' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ access_request.message }}</p></div>
    </div>
    {% if access_request.user.organisations.all %}
      <div class="form-group">
        <label class="col-form-label">{% translate 'Organisation' %}</label>
        <div class="g10f-form-control"><p class="form-control-plaintext">
          {% for organisation in access_request.user.organisations.all %}{{ organisation }}
            {% if not forloop.last %}, {% endif %}{% endfor %}</p></div>
      </div>
    {% endif %}
    {% if access_request.organisation %}
      <div class="form-group">
        <label class="col-form-label">{% translate 'New Organisation' %}</label>
        <div class="g10f-form-control"><p class="form-control-plaintext">{{ access_request.organisation }}</p></div>
      </div>
    {% endif %}
    <div class="form-group">
      <label class="col-form-label">{% translate 'Application' %}</label>
      <div class="g10f-form-control"><p class="form-control-plaintext">{{ access_request.application|default_if_none:"" }}</p></div>
    </div>
    {% if has_user_access %}
      <div class="form-group">
        <label class="col-form-label">{% translate 'Edit details' %}</label>
        <div class="g10f-form-control"><p class="form-control-plaintext">
          <a href="{% url 'accounts:update_user' access_request.user.uuid.hex %}">{{ access_request.user.username }}</a>
        </p></div>
      </div>
    {% endif %}

    {% if access_request.is_open %}
      <div class="form-group">
        <div class="g10f-form-control_lg">
          {% block submit_group %}
            <button name="action" value="deny-with-email" class="btn btn-secondary">{% translate 'Deny extended access and send email' %}</button>
            <button name="action" value="deny" class="btn btn-secondary">{% translate 'Deny extended access' %}</button>
            <button type="submit" class="btn btn-primary">{% translate 'Accept extended access' %}</button>
          {% endblock submit_group %}
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}
