{% extends "centered_form.html" %}
{% load i18n static thumbnail %}

{% block extrascript %}
    <script src="{% url 'jsi18n' %}"></script>
    <script src="{% static "js/base64_image-1.0.0.js" %}"></script>
{% endblock extrascript %}

{% block title %}{% trans 'Request extended access' %}{% endblock %}

{% block form %}
    <form class="form-horizontal" method="post">{% csrf_token %}
        <h3>{% blocktrans %}Request extended access to {{ site_name }}{% endblocktrans %}</h3>

        {% if form.errors %}
            <div class="alert alert-danger">
                {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                    {% trans "Please correct the errors below." %}{% endif %}
            </div>
        {% endif %}

        <p>{% blocktrans with first_name=user.first_name %}Dear {{ first_name }}.{% endblocktrans %}</p>
        <p>{% blocktrans trimmed %}You tried to access a {{ site_name }} application, with restricted access.
            If you can not access by mistake, you can apply for access to the administrators below.{% endblocktrans %}
        </p>
        <div class="row">
            <div class="col-sm-6">
                {% for admin in admins %}
                    {% if not forloop.counter|divisibleby:"2" %}
                        {% include 'access_requests/_admin.html' %}{% endif %}{% endfor %}</div>
            <div class="col-sm-6">
                {% for admin in admins %}
                    {% if forloop.counter|divisibleby:"2" %}
                        {% include 'access_requests/_admin.html' %}{% endif %}{% endfor %}</div>
        </div>
        <hr>
        {% include 'include/_base64_picture_field.html' with field=form.base64_picture %}
        {% include 'include/_field.html' with field=form.message %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">{% trans 'Request extended access' %}</button>
                {% if redirect_uri %}
                    <a class="btn btn-default" href="{{ redirect_uri }}">{% trans 'Back' %}</a>
                {% else %}
                    <button type="submit" class="btn btn-default">{% trans 'Cancel' %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
