{% extends "sendemail_form.html" %}
{% load i18n thumbnail %}

{% block title %}{% translate 'Process extended access' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li><a href="{% url 'access_requests:extend_access_list' %}">{% translate 'Request extended access list' %}</a></li>
    <li><a href="{% url 'access_requests:extend_access_accept' form.instance.pk %}">{{ form.instance.user }}</a></li>
    <li class="active">{{ action_breadcrumb }}</li>
  </ol>
{% endblock breadcrumb %}
