{% load i18n static %}
<div class="card mb-3 {% if default_device.twiliosmsdevice %}border-primary{% else %}border-secondary{% endif %}">
  <div class="card-header">{% translate 'Get your codes via SMS' %}</div>
  <div class="card-body">
    <div class="media">
      <div class="media-left media-middle"><img class="media-object" src="{% static 'img/sms.png' %}" alt="{{ device }}"></div>
      <div class="media-body">
        <table class="table">
          {% for device in twiliosmsdevice_set %}
            <tr>
              <td>
                Telephone number: {{ device.number }}
                {% if device.confirmed and device.device_ptr == default_device %}
                  <span class="label label-primary">default</span>
                {% endif %}
              </td>
              <td>
                {% if device.confirmed %}
                  {% if device.device_ptr != default_device %}
                    <button class="btn btn-secondary" type="submit" name="default" value="{{ device.device_ptr.id }}">{% translate 'Set as default' %}</button>
                  {% endif %}
                {% else %}
                  <a class="btn btn-success btn" href="{% url 'auth:phone_setup' device.device_ptr.id %}">{% translate 'Confirm' %}</a>
                {% endif %}
                <button class="btn btn-danger btn" type="submit" name="delete" value="{{ device.device_ptr.id }}">{% translate 'Delete' %}</button>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer"><a class="btn btn-secondary" href="{% url 'auth:add_phone' %}">Add Phone</a></div>
</div>
