{% load i18n static %}
{% with totpdevice=totpdevice_set.first %}
<div class="panel panel-{% if default_device.totpdevice %}primary{% else %}default{% endif %}">
    <div class="panel-heading">{% trans 'Get codes via Token Generator App' %}</div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left media-middle"><img class="media-object" src="{% static 'img/totp.png' %}" alt="TOTP Device"></div>
            <div class="media-body">
                <p>
                    Get codes via mobile Token Generator App instead.
                    The app for Android, iPhone, or BlackBerry even works when your device has no data or phone connectivity.
                </p>
                <p>
                    {% if totpdevice.confirmed %}
                        {% if default_device.totpdevice %}
                            <span class="label label-primary">default</span>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        {% if not totpdevice %}
            <a class="btn btn-default" type="submit" href="{% url 'auth:profile_totp_setup' %}">Setup Google Authenticator</a>
        {% else %}
            {% if not default_device.totpdevice %}
                <button class="btn btn-default" type="submit" name="default" value="{{ totpdevice.device_ptr.id }}">{% trans 'Set as default' %}</button>
            {% endif %}
            <a class="btn btn-default" type="submit" href="{% url 'auth:profile_totp_setup' %}">{% trans 'Move app to other device' %}</a>
            <button class="btn btn-danger" type="submit" name="delete" value="{{ totpdevice.device_ptr.id }}">{% trans 'Delete' %}</button>
        {% endif %}
    </div>
</div>
{% endwith %}
