{% load i18n static %}

<div class="card mb-3">
  <div class="card-header">
    {% translate 'Use one-time codes via Token Generator App' %}{#% if default_device.totpdevice %}default{% endif %#}
  </div>
  <div class="card-body">

    {% for device in totpdevice_set %}
      <div class="row">
        <div class="col-sm-5">
          {{ device.name | default:"Authenticator App" }}
          {% if device.confirmed and device.device_ptr == default_device %}
            <span class="badge rounded-pill bg-primary">default</span>
          {% endif %}
        </div>

        <div class="col-sm-7">
          <button class="btn btn-danger" type="submit" name="delete" value="{{ device.device_ptr.id }}">{% translate 'Delete' %}</button>
          {% if not default_device.totpdevice %}
            <button class="btn btn-primary" type="submit" name="default" value="{{ device.device_ptr.id }}">{% translate 'Set as default' %}</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}

  </div>
  <div class="card-footer">
    <a class="btn btn-secondary" type="submit" href="{% url 'auth:profile_totp_setup' %}">
      {% if totpdevice_set %}{% translate 'Change Authenticator App' %}
      {% else %}{% translate 'Add Authenticator App' %}{% endif %}
    </a>
  </div>
</div>
