{% load static %}
{% if debug %}
    <script src="chrome-extension://pfboblefjcgdjicmnffhdgionmgcdmne/u2f-api.js"></script>
{% else %}
    <script src="{% static "js/vendor/u2f-api.js" %}"></script>
{% endif %}
<script>
    // TODO: put into its own file
    $(function() {
        if (typeof window.u2f === 'undefined'){
            var text = 'This Login method requires Chrome 41 or later! Your current browser is not yet supported.';
            displayError(text);
        }
    });
    function displayError(text){
        var status = document.getElementById('u2f-status');
        status.textContent = text;
        status.classList.add('alert');
        status.classList.add('alert-danger');
    }
    function handleU2FError(resp) {
        if (resp.errorCode) {
            displayError('Error with U2F (Error code: ' + resp.errorCode + ')');
            return true;
        } else {
            return false;
        }
    }
</script>
