{% load i18n static %}
<div class="card mb-3 {% if default_device.u2fdevice %}border-primary{% else %}border-secondary{% endif %}">
  <div class="card-header {% if default_device.u2fdevice %}bg-primary text-white{% else %}bg-secondary text-white{% endif %}">
    {% translate 'Login with your U2F Device' %}</div>
  <div class="card-body">
    {% for device in u2fdevice_set %}
      <div class="row">
        <div class="col-sm-5">
          ID: {{ device.app_id }}
          {% if device.confirmed and device.device_ptr == default_device %}
            <span class="badge rounded-pill bg-primary">default</span>
          {% endif %}
        </div>
        <div class="col-sm-7">
          <button class="btn btn-danger btn" type="submit" name="delete" value="{{ device.device_ptr.id }}">{% translate 'Delete' %}</button>
          {% if device.confirmed %}
            {% if device.device_ptr != default_device %}
              <button class="btn btn-primary" type="submit" name="default" value="{{ device.device_ptr.id }}">{% translate 'Set as default' %}</button>
            {% endif %}
          {% else %}
            <a class="btn btn-success btn" href="{% url 'auth:phone_setup' device.device_ptr.id %}">{% translate 'Confirm' %}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="card-footer"><a class="btn btn-secondary" href="{% url 'auth:u2f_add_device' %}">{% translate 'Add U2F Device' %}</a></div>
</div>
