{% extends "accounts/login_profile_form.html" %}
{% load i18n admin_static %}

{% block navbar %}{% endblock navbar %}

{% block login_message %}
{% comment %}
<div class="alert alert-info">
    {% blocktrans with openid_domain|capfirst as domain_name  %}Login with your {{ brand }}-Account at <strong>{{ domain_name }}</strong>.{% endblocktrans %}
</div>
{% endcomment %}
{% endblock %}

{% block extra_fields %}
  {# Include the open_id fields #}
  {% for key, value in openid_args.items  %}
  <input type="hidden" name="{{ key }}" value="{{ value }}" />
  {% endfor %}
{% endblock %}
