{% extends "centered_form.html" %}
{% load i18n admin_static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block form %}
<form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
    <legend>{% trans "Password reset" %}</legend>
	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
    
    {% include 'include/_form_snippet.html' %}
    		
     <div class="form-group">
         <div class="col-sm-offset-3 col-sm-9">
             <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
         </div>
     </div>
</form>
{% endblock %}
