{% load i18n %}
<div class="form-group">
    <label class="control-label">{{ field.label }}</label>

    <div class="dwbn-form-control">
        <p class="form-control-static">{{ field.value|default_if_none:"---" }}</p>
        {% if user.organisationchange %}
            <a class="btn btn-warning" href="{% url 'accounts:organisationchange_update' user.organisationchange.pk %}" role="button">
            {% blocktrans with name=user.organisationchange.organisation.name %}Update change of center to {{ name }}{% endblocktrans %}</a>
        {% else %}
            <a class="btn btn-default" href="{% url 'accounts:organisationchange_create' %}" role="button">{% trans 'Change my buddhist center' %}</a>
        {% endif %}
    </div>
</div>
