{% load i18n %}
<div class="form-group">
  <label class="col-form-label">{{ field.label }}</label>

  <div class="g10f-form-control">
    <p class="form-control-static">{{ field.value|default:"---" }}</p>
    {% if user.organisationchange_set.open %}
      <a class="btn btn-warning" href="{% url 'accounts:organisationchange_me' %}" role="button">
        {% blocktranslate with name=user.organisationchange_set.open.organisation.name %}Update change of organisation to {{ name }}{% endblocktranslate %}</a>
    {% else %}
      <a class="btn btn-secondary" href="{% url 'accounts:organisationchange_me' %}" role="button">{% translate 'Change my organisation' %}</a>
    {% endif %}
  </div>
</div>
