{% load i18n %}
<div class="alert alert-info">{% trans "Your password must fulfill the following requirements:" %}
<ol>
   <li>{% blocktrans with MIN_LENGTH=6 %}Must be {{ MIN_LENGTH }} characters or more{% endblocktrans %}</li>
   {% comment %}
   <li>{% blocktrans with UPPER=1 %}Must contain {{ UPPER }} or more uppercase characters{% endblocktrans %}</li>
   <li>{% blocktrans with LOWER=1 %}Must contain {{ LOWER }} or more lowercase characters{% endblocktrans %}</li>
   {% endcomment %}
   <li>{% blocktrans with DIGITS=1 %}Must contain {{ DIGITS }} or more digits{% endblocktrans %}</li>
</ol>
</div>
