{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% translate 'Security' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
    <li class="active">{% translate 'Security' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block right_content %}
  <h1>{% translate 'Setup 2-step verification' %}</h1>

  <form method="post">
    {% include 'include/_form_boilerplate.html' %}
    {% if redirect_uri %}
      <div class="alert alert-info">
        {% if user.sso_auth_profile.is_otp_enabled %}
          {% translate 'Please continue.' %}
        {% else %}
          {% translate 'Please activate 2-step verification and continue.' %}
        {% endif %}
      </div>
    {% endif %}

    {% if user.device_set.all %}
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col">{% translate 'Type' %}</th>
            <th scope="col">{% translate 'Name' %}</th>
            <th scope="col">{% translate 'Action' %}</th>
          </tr>
          </thead>
          <tbody>
          {% for object in user.device_set.all %}
            <tr>
              <td>{{ object.get_child.default_name }}
                {% if not object.confirmed %}
                  <span class="badge rounded-pill bg-primary">{% translate 'unconfirmed' %}</span>{% endif %}
              <td>
                {{ object.name }}
              </td>
              <td>
                <a class="btn btn-default"
                   href="{% url 'auth:mfa-update' object.id %}{% if query_string %}?{{ query_string }}{% endif %}"
                   role="button">{% translate 'Edit' %}</a>
                <button class="btn btn-danger" type="submit" name="delete"
                        value="{{ object.id }}">{% translate 'Delete' %}</button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    <a class="btn btn-secondary" type="submit" href="

      {% url 'auth:totp_add_device' %}{% if query_string %}?{{ query_string }}{% endif %}">{% translate 'Add Authenticator App' %}</a>
    <a class="btn btn-secondary" href="

      {% url 'auth:u2f_add_device' %}{% if query_string %}?{{ query_string }}{% endif %}">{% translate 'Add Security Key' %}</a>
    {% if user.sso_auth_profile %}
      {% if user.sso_auth_profile.is_otp_enabled %}
        <button class="btn btn-danger" type="submit" name="is_otp_enabled"
                value="3">{% translate "Disable 2-step verification" %}</button>{% else %}
        <button class="btn btn-default" type="submit" name="is_otp_enabled"
                value="2">{% translate "Enable 2-step verification" %}</button>
      {% endif %}
    {% endif %}
    {% if redirect_uri %}
      <a class="btn btn-primary" href="{{ redirect_uri }}">{% translate 'Continue' %}</a>
    {% endif %}
    {% include 'sso_auth/_default_device_field.html' with field=form.default_device %}
  </form>


{% endblock right_content %}
