{% extends "base_site.html" %}
{% load i18n static %}

{% block style %}
  <link href="{% static 'css/' %}{{ dpdc.style }}.min.css" rel="stylesheet">
{% endblock style %}

{% block script %}{% endblock %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block htmlclass %}sign-in h-100 {{ display | default_if_none:"" }}{% endblock %}
{% block bodyclass %}d-flex flex-column h-100 pt-3{% endblock %}

{% block body %}
  {% block navbar %}{% endblock navbar %}
  {% comment %}
  {% if display != 'popup' %}
    {% block navbar %}{{ block.super }}{% endblock navbar %}
  {% endif %}
  {% endcomment %}
  <div class="{% block containerclass %}{{ block.super }}{% endblock %}">
    <main>
      <section>
        {% block logo %}
          <div class="text-center mb-3">
            <a class="sso-logo" href="{% url 'home' %}" title="{{ brand }}" aria-label="{{ brand }}" role="banner">
              <img height="60px" src="/static/ico/apple-touch-icon.png" alt="SSO Logo">
            </a>
          </div>
        {% endblock logo %}
        {% block content %}{% endblock %}
      </section>
    </main>
  </div>
  {% if display != 'popup' %}
    {% block footer %}{{ block.super }}{% endblock %}
  {% endif %}
{% endblock body %}
