html {
 overflow-y: scroll;
}
body {
  padding-top: 70px;
  font-weight: 300;
}


// fonts and sizes
h1, .h1 {font-weight: 100;}
h2, .h2 {color: @gray-dark;}



// hidden honey pot field in the registration form
.dwbn-honeypot {
    .hide();
}
// filter row in the list view
.dwbn-filter-row {
    margin-bottom: 15px;
}
.dwbn-nav-tabs {
    margin-bottom: 20px;
}

// temporary modal bugfixes....
.modal-backdrop {
	position: fixed;
}