{% load i18n %}
<html lang="en">
<body style="margin: 0; padding: 0; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;" bgcolor="#FFFFFF">
<table width="100%" style="min-width: 650px;" border="0" cellspacing="0" cellpadding="0">
    <tr style="height: 20px;"></tr>
    <tr>
        <td align="center">
            <table border="0" cellspacing="0" cellpadding="0" style="width: 600px;">
                <tr>
                    <td>
                        {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans "Please go to the following page and choose a new password:" %}
                    </td>
                </tr>
                <tr style="height: 16px;"></tr>
                <tr>
                    <td>
                        {% block reset_link %}
                            <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</a>
                        {% endblock %}
                    </td>
                </tr>
                <tr style="height: 16px;"></tr>
                <tr>
                    <td>
                        {% blocktrans with email=user.email %}You can login with your email address {{ email }}{% endblocktrans %}
                    </td>
                </tr>
                <tr>
                    <td>

                        {% blocktrans with date=expiration_date|date:"SHORT_DATE_FORMAT" %}This page will expire on {{ date }}.{% endblocktrans %}
                    </td>
                </tr>
                <tr style="height: 16px;"></tr>
                <tr>
                    <td>
                        {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
                    </td>
                </tr>
                <tr style="height: 16px;"></tr>
                <tr>
                    <td style=" font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 10px; color: #666666; line-height: 1.5;">
                        <a style="text-decoration: none; color:#666666" href="{{ protocol }}://{{ domain }}{% url 'home' %}"> {% blocktrans %}This message was created automatically by {{ site_name }} Single Sign-On.{% endblocktrans %}
                            </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 32px;"></tr>
</table>
</body>
</html>